<style>
	.shop-set-1{
		font-weight: lighter;
		font-size: 18px;
		margin: 8px 0 0 0;
		display: inline-block;
		font-family: "黑体";
	}
	.shop-set-2{
		font-size: 13px;
		font-weight: 400;
		position: relative;
		top: -2px;
		color: #818182;
	}
	.container-fluid>.content{
		padding: 30px;
		width: 100%;
		background-color: white;
		padding-top: 30px;
	}
</style>
<div class="animated fadeIn">
	<div class="container-fluid">
		
		<div class="row">
			<div>
				<span class="shop-set-1" style="font-size: 30px;">
					<a data-toggle="ajaxLoad" data-target="#ui-view" href="h-delivery.html" style="display: inline-block;"><i class="icon-action-undo icons font-2xl d-block mt-4"></i></a>
					地区设置-新增
				</span>
				<span class="shop-set-2" style="font-size: 20px;" >
					地区新增与编辑	  
				</span>
			</div>
		</div>
		<div class="content">
			<div class="row" style="border-bottom: 1px solid #ACB5BC;margin-bottom: 40px;">
				<div class="col-4 text-right">
					<span style="color: red;">*</span>地区名字
				</div>
				<div class="col-4">
					<input class="form-control" size="16" type="text">
					<span>请认真填写地区名称，地区设定后将直接影响订单、收货地址等重要信息，请谨慎操作。</span>
				</div>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-lg btn-block col-2 offset-5" type="button" style="width: 200px;">确认提交</button>
			</div>
		</div>
		
	</div>
	
<div>