<style>
	.shop-set-1{
		font-weight: lighter;
		font-size: 18px;
		margin: 8px 0 0 0;
		display: inline-block;
		font-family: "黑体";
	}
	.shop-set-2{
		font-size: 13px;
		font-weight: 400;
		position: relative;
		top: -2px;
		color: #818182;
	}
	.container-fluid>.content{
		padding: 30px;
		width: 100%;
		background-color: white;
		padding-top: 30px;
	}
		i{
		font-size: 12px;
		color: #007EE5;
		font-style: normal;
	}
	td{
		width: 100px;
		position: relative;
	}
</style>
<div class="animated fadeIn">
	<div class="container-fluid">
		
		<div class="row">
			<div>
				<span class="shop-set-1" style="font-size: 30px;">
					<a data-toggle="ajaxLoad" data-target="#ui-view" href="h-freight.html" style="display: inline-block;"><i class="icon-action-undo icons font-2xl d-block mt-4"></i></a>
					运费模板
				</span>
				<span class="shop-set-2" style="font-size: 20px;" >
					运费模板详细页
				</span>
			</div>
		</div>
		<div class="content">
			<table class="table table-hover">
				<tr>
					<td class="text-right">
						<span style="color: red;">*</span>
						<span>模板名称</span>
					</td>
					<td>
							<input class="form-control" type="text" name="webID" />
							<i>请填写模板名称</i>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td class="text-right">
						<span style="color: red;">*</span>
						<span>计价方式</span>
					</td>
					<td>
						<div class="col-md-9 col-form-label">
							<div class="form-check form-check-inline mr-1" id="">
								<input class="form-check-input" type="radio" value="option1" name="express">
								<label class="form-check-label">件数</label>
							</div>
							<div class="form-check form-check-inline mr-1" id="kuaidi2">
								<input class="form-check-input" type="radio" value="option2" name="express" checked="checked">
								<label class="form-check-label">重量</label>
							</div>
							<div class="form-check form-check-inline mr-1" id="kuaidi2">
								<input class="form-check-input" type="radio" value="option2" name="express">
								<label class="form-check-label">体积</label>
							</div>
						</div>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td class="text-right">
							<span style="color: red;">*</span>
							<span>是否启用默认配送配置</span>
					</td>
					<td>
						<div class="col-md-9 col-form-label">
							<div class="form-check form-check-inline mr-1" id="">
								<input class="form-check-input" type="radio" value="option1" name="expres" checked="checked">
								<label class="form-check-label">是</label>
							</div>
							<div class="form-check form-check-inline mr-1" id="kuaidi2">
								<input class="form-check-input" type="radio" value="option2" name="expres">
								<label class="form-check-label">否</label>
							</div>
						</div>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td></td>
					<td>
						<button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 200px;">确认提交</button>
					</td>
					<td></td>
				</tr>
			</table>
		</div>
		
	</div>
	
<div>