<style>
	.shop-set-1{
		font-weight: lighter;
		font-size: 18px;
		margin: 8px 0 0 0;
		display: inline-block;
		font-family: "黑体";
	}
	.shop-set-2{
		font-size: 13px;
		font-weight: 400;
		position: relative;
		top: -2px;
		color: #818182;
	}
	.container-fluid>.content{
		padding: 30px;
		width: 100%;
		background-color: white;
		padding-top: 30px;
	}
		i{
		font-size: 12px;
		color: #007EE5;
		font-style: normal;
	}
	td{
		width: 100px;
		position: relative;
	}
</style>
<div class="animated fadeIn">
	<div class="container-fluid">
		
		<div class="row">
			<div>
				<span class="shop-set-1" style="font-size: 30px;">
					<a data-toggle="ajaxLoad" data-target="#ui-view" href="h-friendship.html" style="display: inline-block;"><i class="icon-action-undo icons font-2xl d-block mt-4"></i></a>
					友情链接管理-编辑友情链接
				</span>
				<span class="shop-set-2" style="font-size: 20px;" >
					网站系统友情链接管理
				</span>
			</div>
		</div>
		<div class="content">
			<table class="table table-hover">
				<tr>
					<td class="text-right">
						<span style="color: red;">*</span>
						<span>链接名字</span>
					</td>
					<td>
							<input class="form-control" type="text" name="webID" />
							<i>请填写友情链接的名称</i>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td class="text-right">
						<span style="color: red;">*</span>
						<span>链接地址</span>
					</td>
					<td>
							<input class="form-control" type="text" name="webName" />
							<i>友情链接跳转地址,如：http://www.b2t.com</i>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td class="text-right">
							<span style="color: red;">*</span>
							<span>排序</span>
					</td>
					<td>
							<input class="form-control" type="text" />
							<i>请填写自然数，友情链接会根据排序进行由小到大排列显示</i>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td class="text-right">
							<span style="color: red;">*</span>
							<span>链接LOGO</span>
					</td>
					<td>
							<input class="form-control" type="text" />
							<i>默认网站LOGO,通用头部显示，最佳显示尺寸为240*60像素</i>
					</td>
					<td></td>
				</tr>
				
				<tr>
					<td></td>
					<td>
						<button class="btn btn-primary btn-lg btn-block" type="submit" style="width: 200px;">确认提交</button>
					</td>
					<td></td>
				</tr>
			</table>
		</div>
		
	</div>
	
<div>