<style>
	.shop-set-1{
		font-weight: lighter;
		font-size: 18px;
		margin: 8px 0 0 0;
		display: inline-block;
		font-family: "黑体";
	}
	.shop-set-2{
		font-size: 13px;
		font-weight: 400;
		position: relative;
		top: -2px;
		color: #818182;
	}
	.container-fluid>.row{
		height: 50px;
	}
	.container-fluid>.content{
		padding: 10px;
		width: 100%;
		background-color: white;
		padding-top: 30px;
	}
	.content>.row{
		padding-left: 10px;
		margin-top: 15px;
	}
	.content-1{
		font-size: 18px;
	}
	.content-2{
		font-size: 12px;
		font-weight: 400;
		color: #818182;
	}
</style>
<div class="animated fadeIn">
	
	<div class="container-fluid">
		<!-- 网页标题 -->
		<div class="row">
			<div>
				<span class="shop-set-1" >
					消息通知
				</span>
				<span class="shop-set-2" >
					商城对商家及用户消息类发送设定	  
				</span>
			</div>
		</div>
		<div class="content">
			<!-- 提示弹框按钮 -->
			<div class="alert alert-info alert-dismissible fade show" role="alert" >
				<strong style="font-size: 20px;">操作提示</strong> 
				<table>
				<ul>
					<li>平台可以选择一种或多种消息通知方式</li>
					<li>短消息、邮件需要用户绑定手机、邮箱后才能正常接收。</li>
				</ul>
				</table>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- 网页中部 -->
			<div class="row">
				<div class="col-2">
					<span class="content-1">地区列表</span>
					<span class="content-2">（共30张记录）</span>
				</div>
				<div class="col-1" style="position: relative;top: -15px;">
					<a href="#" title="刷新数据">
						<i class="fa fa-refresh fa-lg mt-4 "></i>
					</a>
				</div>
			</div>
			<!-- 网页主体表格 -->
			<table class="table table-hover text-center table-bordered">
				
				<tr class="alert-secondary">
					<th style="width: 50px;"><i class="fa fa-star-o fa-lg"></i></th>
					<th style="width: 300px;">模板描述</th>
					<th style="width: 100px;">站内信</th>
					<th style="width: 100px;">手机短信</th>
					<th style="width: 100px;">邮件</th>
					<th style="width: 100px;">操作</th>
					<th style="width: 200px;"></th>
				</tr>
				
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
				
			</table>
			
		</div>
		
	</div>
	
</div>