<style type="text/css">
	@charset "utf-8";

	* {
		/* 允许过长的文本和地址自动换行 */
		/* 内部换行 */
		word-wrap: break-word;
		/* 轮廓属性outline-color颜色 outline-style类型 outline-width粗细 的简写 */
		outline: none;
	}

	/* 主体的背景色和最小宽度 */
	body {
		/* 背景色 */
		background: #FFFFFF;
		/* 最小宽度 */
		min-width: 1000px;
	}

	/* 整个html和body的高度和默认盒子处理 */
	html,
	body {
		height: 100%;
		/* 内容裁剪并不可见 */
		overflow: hidden;
	}

	/* 禁用Webkit内核浏览器的文字大小调整功能 */
	html {
		-webkt-text-size-adjust: none;
	}

	/* 设置默认的字体|颜色|大小 */
	body,
	td,
	input,
	textarea,
	select,
	button {
		color: #555;
		font-size: 12px;
		font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	}

	/* 默认边距为0 */
	body,
	ul,
	ol,
	li,
	dl,
	dt,
	dd,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	form,
	fieldset {
		margin: 0;
		padding: 0;
	}

	/* 列表标记的默认设置 */
	ul,
	ol,
	li {
		list-style-image: none;
		list-style-type: none;
	}

	/* 标题字体大小 */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 12px;
	}

	/* 超链接标签的默认设置 */
	a {
		color: #3b639f;
		/* 文本修饰设置 */
		text-decoration: none;
	}

	/* 超链接标签的默认特效设置 */
	a:hover {
		color: #CD0200;
		/* 文本修饰设置 */
		text-decoration: none;
	}

	/* 超链接里的图片标签的默认设置 */
	a img {
		border: none;
	}

	/* 字体风格和字体粗细的默认设置 */
	em,
	cite,
	th {
		/* 风格 */
		font-style: normal;
		/* 粗细 */
		font-weight: normal;
	}

	/* 表格标签的默认设置 */
	table {
		/* 边框会合并为一个单一的边框。会忽略 border-spacing 和 empty-cells 属性 */
		border-collapse: ;
	}

	/* 表头的默认设置 */
	th {
		text-align: left;
	}

	/* 轮廓属性的默认设置 */
	input,
	button,
	select,
	textarea {
		outline: none;
	}

	/* 将以下标签默认为块级元素 */
	article,
	aside,
	dialog,
	footer,
	header,
	section,
	footer,
	nav,
	figure,
	menu {
		display: block;
	}


	/* 页面容器 */
	.page {
		/* 背景色 */
		background-color: #FFFFFF;
		/* 最小宽度 */
		min-width: 1000px;
		/* 内间距 */
		padding: 1px 1% 0 1%;
		/* 文本对齐 */
		text-align: left;
		/* 处理盒子内容 */
		/* 内容会被修剪，并且其余内容是不可见的 */
		overflow: hidden;

	}

	/* 
	.fixed-bar {
		background-color: #FFF;
		width: 100%;
		padding-bottom: 4px;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
	} */


	/* 项目标题模块 */
	.item-title {
		/* 行间距 */
		line-height: 20px;
		/* 忽略元素内的空白 */
		white-space: nowrap;
		width: 98%;
		padding-top: 3px;
		margin: 0 1%;
		border-bottom: 1px solid #E6E6E6;
	}

	/* 主题模块 */
	.item-title .subject {
		/* 元素的顶端与行中最低的元素的顶端对齐 */
		vertical-align: bottom;
		/* 既有行内元素的特性也有块元素的特性 */
		display: inline-block;
		min-width: 190px;
		height: 26px;
		padding: 6px 0px;
		margin-right: 10px;
	}

	.item-title h3 {
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		color: #333;
		display: inline-block;
	}

	.item-title h5 {
		font-size: 12px;
		font-weight: normal;
		line-height: 18px;
		color: #777;
		display: inline-block;
		margin-left: 10px;
		min-width: 120px;
	}

	.tab-base {
		vertical-align: bottom;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	.tab-base li {
		height: 35px;
		margin-right: 2px;
	}

	.tab-base a {
		line-height: 20px !important;
		color: #777 !important;
		background-color: #E6E6E6 !important;
		display: block !important;
		height: 20px !important;
		padding: 7px 20px !important;
		border: solid 1px #E6E6E6 !important;
		border-radius: 5px 5px 0 0 !important;
		cursor: pointer;
	}

	.tab-base a span {
		display: inline-block;
		min-width: 60px;
		text-align: center;
	}

	.tab-base a:hover {
		olor: #333 !important;
	}

	.tab-base a.current,
	.tab-base a:hover.current {
		font-size: 14px !important;
		font-weight: 600 !important;
		background-color: #FFF !important;
		border-bottom-color: #FFF !important;
		cursor: default !important;
	}

	.item-title a.back {
		color: #999;
		display: inline-block;
		vertical-align: bottom;
		margin: 0 10px 6px 0;
	}

	.item-title a.back:hover {
		color: #4fc0e8;
	}

	.item-title a.back i {
		font-size: 40px;
	}


	/*表单元素样式*/
	input[type="text"],
	input[type="password"],
	textarea,
	select,
	.editable,
	.editable-tarea {
		color: #333333;
		background-color: #FFF;
		border: solid 1px #D7D7D7;
	}

	input[type="text"],
	input[type="password"],
	textarea,
	select,
	.editable,
	.editable2,
	.editable-tarea,
	.editable-tarea2 {
		padding: 2px 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		/*Firefox\Chrome\Safari\IE9\元素圆角效果*/
		resize: none;
		/*禁止调节元素的尺寸*/
	}

	input[type="text"]:focus,
	input[type="text"]:hover,
	input[type="text"]:active,
	input[type="password"]:focus,
	input[type="password"]:hover,
	input[type="password"]:active,
	textarea:hover,
	textarea:focus,
	textarea:active {
		color: #33464F;
		background-color: #fff;
		border: 1px solid;
		border-color: #2CBCA3;
		-moz-box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
		-webkit-box-shadow: 0 0 0 0 2px rgba(82, 168, 236, 0.15);
		box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
		outline: 0 none;
	}

	input[disabled="disabled"],
	input[readonly="readonly"],
	input[disabled="disabled"]:hover,
	input[readonly="readonly"]:hover,
	input[disabled="disabled"]:focus,
	input[readonly="readonly"]:focus {
		background: #F5F5F5;
		border-color: #D7D7D7;
		box-shadow: none;
	}

	.editable2,
	.editable-tarea2 {
		color: #33464F;
		background-color: #FFF;
		border: 1px dotted;
		border-color: #71CBEF;
	}

	textarea {
		resize: vertical !important;
		/*Textarea支持调节元素的高度*/
	}

	.editable,
	.editable2,
	input[type="text"],
	input[type="password"] {
		line-height: 20px;
		white-space: nowrap;
		display: inline-block;
		height: 20px;
		overflow: hidden;
		cursor: text;
	}

	.editable-tarea,
	.editable-tarea2,
	textarea {
		line-height: 18px;
		display: inline-block;
		height: 36px;
		cursor: text;
		overflow: auto;
	}

	.tarea {
		height: 75px;
		width: 400px;
	}

	.txt,
	select,
	.vmiddle {
		vertical-align: middle;
	}

	.sort input,
	.sort .editable,
	.sort .editable2 {
		width: 36px;
	}

	.name input,
	.name .editable,
	.name .editable2 {
		width: 250px;
	}

	.tag input,
	.tag .editable,
	.tag .editable2 {
		width: 480px;
	}

	.goods-name textarea,
	.editable-tarea,
	.editable-tarea2 {
		width: 250px;
	}

	.class input,
	.class .editable,
	.class .editable2 {
		width: 120px;
	}

	input.readonly,
	textarea.readonly,
	textarea.readonly:focus,
	textarea.readonly:hover,
	input.readonly:focus,
	input.readonly:hover {
		backgorund: #FFF;
		border: solid 1px;
		border-color: #EEE #F5F5F5 #F5F5F5 #EEE;
	}

	.checkbox {
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
		zoom: 1;
	}

	.input-file-show {
		background-color: #FFF;
		vertical-align: top;
		display: inline-block;
		padding-left: 26px;
		border: solid 1px #D7D7D7;
		border-radius: 4px;
		position: relative;
		z-index: 1;
	}

	.input-file-show:hover {
		border-color: #2CBCA3;
		-moz-box-shadow: 0 0 5px rgba(44, 188, 163, 0.5);
		-webkit-box-shadow: 0 0 5px rgba(44, 188, 163, 0.5);
		box-shadow: 0 0 5px rgba(44, 188, 163, 0.5);
	}

	.input-file-show span.show {
		width: 22px;
		height: 22px;
		text-align: center;
		padding: 2px;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
	}

	.input-file-show span.show a {
		color: #AAA;
		display: block;
		width: 22px;
		height: 22px;
	}

	.input-file-show:hover span.show a,
	.input-file-show span.show a:hover {
		color: #2CBCA3;
		text-decoration: none;
	}

	.input-file-show span.show i {
		font-size: 14px;
		line-height: 22px;
		display: block;
	}

	.input-file-show span.show img {
		max-width: 22px;
		max-height: 22px;
	}

	.type-file-box {
		display: block;
		width: 262px;
		height: 26px;
		position: relative;
		z-index: 1;
	}

	.type-file-text {
		line-height: 26px !important;
		display: block;
		width: 163px;
		height: 26px !important;
		float: left !important;
		padding: 0 !important;
		margin: 0 !important;
		border: none 0 !important;
		border-radius: 0 !important;
	}

	.type-file-button,
	.type-file-button:focus {
		background-color: #E6E6E6;
		display: block;
		width: 99px;
		height: 26px;
		float: left !important;
		border: 0;
		border-radius: 0 3px 3px 0;
	}

	.input-file-show:hover .type-file-button {
		color: #FFF;
		background-color: #2CBCA3;
	}

	.type-file-file {
		width: 262px;
		height: 26px;
		position: absolute;
		top: 0;
		right: 0;
		filter: alpha(opacity:0);
		opacity: 0;
		cursor: pointer;
	}

	.type-file-preview {
		background: #FFF;
		display: none;
		padding: 5px;
		border: solid 5px #71CBEF;
		position: absolute;
		z-index: 999;
	}

	.image_display .type-file-show {
		width: 16px;
		height: 16px;
		padding: 2px;
		border: solid 1px #D8D8D8;
		cursor: auto;
	}

	/*按钮*/
	a.ncap-btn-big {
		font: bold 14px/20px "microsoft yahei", arial;
		color: #777;
		background-color: #ECF0F1;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		height: 20px;
		padding: 7px 19px;
		border: solid 1px #BEC3C7;
		border-radius: 3px;
		cursor: pointer;
	}

	a.ncap-btn-blue,
	a.ncap-btn-acidblue,
	a.ncap-btn-green,
	a.ncap-btn-orange,
	a.ncap-btn-red,
	a.ncap-btn-black,
	a:hover.ncap-btn-blue,
	a:hover.ncap-btn-acidblue,
	a:hover.ncap-btn-green,
	a:hover.ncap-btn-orange,
	a:hover.ncap-btn-red,
	a:hover.ncap-btn-black,
	.nscs-table-handle a.btn-orange-current {
		color: #FFF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.10);
	}

	a.ncap-btn-green {
		background-color: #4fc0e8;
		border-color: #3aa8cf;
		height: 35px;
	}

	a:hover.ncap-btn-green {
		background-color: #3aa8cf;
	}

	.ncap-form-default dl.row,
	.ncap-form-all dd.opt {
		font-size: 0;
		color: #777;
		background-color: #FFF;
		*word-spacing: -1px
			/*IE6、7*/
		;
		padding: 12px 0;
		margin-top: -1px;
		border-style: solid;
		border-width: 1px 0;
		border-color: #F0F0F0;
		position: relative;
		z-index: 1;
	}



	.ncap-form-default dl.row:hover,
	.ncap-form-all dd.opt:hover {
		color: #000;
		background-color: #FFF;
		border-style: dotted;
		border-color: #D7D7D7;
		z-index: 2;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
	}

	/* 分销设置的列表文本布局设置 */
	.ncap-form-default dt.tit,
	.ncap-form-default dd.opt {
		font-size: 12px;
		line-height: 24px;
		vertical-align: top;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		*zoom: 1
			/*IE7*/
		;

	}

	.ncap-form-default dt.tit {
		text-align: right;
		width: 14%;
		padding-right: 2%;
	}

	.ncap-form-default dd.opt {
		text-align: left;
		width: 83%;
	}

	.ncap-form-default dt.tit em {
		font: bold 14px/20px tahoma, verdana;
		color: #F60;
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
	}

	.ncap-form-default .input-txt,
	.ncap-form-all .input-txt {
		width: 280px !important;
	}



	.ncap-form-default .input-btn:hover {
		text-decoration: none;
		color: #333;
		background-color: #E6E6E6;
		border-color: #A9A9A9;
	}

	.ncap-form-default p.notic,
	.ncap-form-all p.notic {
		line-height: 12px;
		line-height: 18px;
		color: #AAA;
		margin-top: 4px;
		clear: both;
	}

	.ncap-form-default dl.row:hover p.notic {
		color: #2cbca3;
	}

	.ncap-form-default div.bot,
	.ncap-form-all div.bot {
		display: block;
		padding: 12px 0 10px 16%;
	}

	/* Used for the Switch effect: */
	.onoff {
		font-size: 0;
		position: relative;
		overflow: hidden;
		display: block;
	}

	.onoff label {
		vertical-align: top;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		cursor: pointer;
	}

	.onoff input[type="radio"] {
		position: absolute;
		top: 0;
		left: -999px;
	}

	.onoff .cb-enable,
	.onoff .cb-disable {
		color: #777;
		font-size: 12px;
		line-height: 20px;
		background-color: #ECF0F1;
		height: 20px;
		padding: 1px 9px;
		border-style: solid;
		border-color: #BEC3C7;
	}

	.onoff .cb-enable {
		border-width: 1px 0 1px 1px;
		border-radius: 4px 0 0 4px;
	}

	.onoff .cb-disable {
		border-width: 1px 1px 1px 0;
		border-radius: 0 4px 4px 0;
	}

	.onoff .cb-disable.selected {
		color: #FFF;
		background-color: #96A6A6;
		border-color: #808B8D;
	}

	.onoff .cb-enable.selected {
		color: #FFF;
		background-color: #1BBC9D;
		border-color: #16A086
	}

	/* ------------------ */

	/*注释说明帮助*/
	.explanation {
		color: #0ba4da !important;
		background-color: rgba(79, 192, 232, 0.11) !important;
		display: block;
		width: 99%;
		height: 100%;
		padding: 6px 9px;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
	}

	.explanation:before {
		content: "";
		background-image: url(../images/wave.png);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 5px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.explanation .title {
		white-space: nowrap;
		margin-bottom: 8px;
		position: relative;
		cursor: pointer;
	}

	.explanation .title h4 {
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		height: 20px;
		display: inline-block;
	}

	.explanation .title i {
		font-size: 18px;
		vertical-align: middle;
		margin-right: 6px;
	}

	.explanation .title span {
		background: url(../images/combine_img.png) no-repeat -580px -200px;
		width: 20px;
		height: 20px;
		position: absolute;
		z-index: 1;
		top: -6px;
		right: -9px;
	}

	.explanation ul {
		color: #748A8F;
		margin-left: 10px;
	}

	.explanation li {
		line-height: 20px;
		background: url(../img/hongdian.jpg) no-repeat 0 0px;
		padding-left: 10px;
		margin-bottom: 4px;
	}

	/* 积分兑换 */
</style>
<div>

	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<div class="subject">
					<h3>会员等级管理</h3>
					<h5>网站系统会员等级索引与管理</h5>
				</div>
			</div>
		</div>
		<div class="card-body">
			<p>
				<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">与href链接</font>
					</font>
				</a> -->
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"
				 aria-controls="collapseExample">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">操作提示</font>
					</font>
				</button>
			</p>
			<div class="collapse show" id="collapseExample" style="">
				<div class="card card-body">
					<font style="vertical-align: inherit;">
						<!-- <font style="vertical-align: inherit;">Anim pariatur cliche reprehenderit，enim eiusmod high life accusamus terry
							richardson ad squid。</font> -->
						<font style="vertical-align: inherit;">会员列表管理, 可以给会员群发站内信、邮件等.</font>
					</font>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> 会员列表</div>
		<div class="card-body">
			<table class="table table-responsive-sm table-bordered table-striped table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>会员名称</th>
						<th>会员等级</th>
						<th>累计消费</th>
						<th>邮箱地址</th>
						<th>一级下线数</th>
						<th>二级下线数</th>
						<th>三级下线数</th>
						<th>手机号码</th>
						<th>余额</th>
						<th>积分</th>
						<th>注册日期</th>
						<th>操作</th>
					</tr>
				</thead>


				<!-- <div class="modal-dialog modal-primary" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Modal title</h4>
								<button class="close" type="button" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">
								<p>One fine body…</p>
							</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
								<button class="btn btn-primary" type="button">Save changes</button>
							</div>
						</div> -->
				<!-- /.modal-content-->
		</div>
		<div>

			<a class="btn btn-primary mb-1 fa fa-plus" data-toggle="ajaxLoad" data-target="#ui-view" href="Lz_a.html" type="button"
			 data-toggle="modal" data-target="#primaryModal" style="color: white;">
				添加会员
			</a>
			<button class="btn btn-primary mb-1 fa fa-share " type="button" data-toggle="modal" data-target="#primaryModal">导出站内信</button>
			<button class="btn btn-primary mb-1 fa fa-send" type="button " data-toggle="modal" data-target="#primaryModal">发送站内信</button>
			<button class="btn btn-primary mb-1 fa fa-send-o" type="button " data-toggle="modal" data-target="#primaryModal">发送邮件</button>
		</div>
		<tbody>

			<tr>

				<td>40</td>
				<td>阿拉丁</td>
				<td>1</td>
				<td>23.00</td>
				<td>123456@qq.com</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>13332125741</td>
				<td>0.00</td>
				<td>1</td>
				<td>2019-07-08 16:03</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>40</td>
				<td>阿拉丁</td>
				<td>1</td>
				<td>23.00</td>
				<td>123456@qq.com</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>13332125741</td>
				<td>0.00</td>
				<td>1</td>
				<td>2019-07-08 16:03</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>40</td>
				<td>阿拉丁</td>
				<td>1</td>
				<td>23.00</td>
				<td>123456@qq.com</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>13332125741</td>
				<td>0.00</td>
				<td>1</td>
				<td>2019-07-08 16:03</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>40</td>
				<td>阿丁</td>
				<td>1</td>
				<td>23.00</td>
				<td>123456@qq.com</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>13332125741</td>
				<td>0.00</td>
				<td>1</td>
				<td>2019-07-08 16:03</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>40</td>
				<td>阿布</td>
				<td>1</td>
				<td>23.00</td>
				<td>123456@qq.com</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>13332125741</td>
				<td>0.00</td>
				<td>1</td>
				<td>2019-07-08 16:03</td>
				<td>
					
				</td>
			</tr>
		</tbody>
		</table>
		<nav>
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">Prev</a>
				</li>
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">3</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">4</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</div>


</div>
