<style type="text/css">
	@charset "utf-8";

	* {
		/* 允许过长的文本和地址自动换行 */
		/* 内部换行 */
		word-wrap: break-word;
		/* 轮廓属性outline-color颜色 outline-style类型 outline-width粗细 的简写 */
		outline: none;
	}

	/* 主体的背景色和最小宽度 */
	body {
		/* 背景色 */
		background: #FFFFFF;
		/* 最小宽度 */
		min-width: 1000px;
	}

	/* 整个html和body的高度和默认盒子处理 */
	html,
	body {
		height: 100%;
		/* 内容裁剪并不可见 */
		overflow: hidden;
	}

	/* 禁用Webkit内核浏览器的文字大小调整功能 */
	html {
		-webkt-text-size-adjust: none;
	}

	/* 设置默认的字体|颜色|大小 */
	body,
	td,
	input,
	textarea,
	select,
	button {
		color: #555;
		font-size: 12px;
		font-family: "Microsoft Yahei", "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	}

	/* 默认边距为0 */
	body,
	ul,
	ol,
	li,
	dl,
	dt,
	dd,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	form,
	fieldset {
		margin: 0;
		padding: 0;
	}

	/* 列表标记的默认设置 */
	ul,
	ol,
	li {
		list-style-image: none;
		list-style-type: none;
	}

	/* 标题字体大小 */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 12px;
	}

	/* 超链接标签的默认设置 */
	a {
		color: #3b639f;
		/* 文本修饰设置 */
		text-decoration: none;
	}

	/* 超链接标签的默认特效设置 */
	a:hover {
		color: #CD0200;
		/* 文本修饰设置 */
		text-decoration: none;
	}

	/* 超链接里的图片标签的默认设置 */
	a img {
		border: none;
	}

	/* 字体风格和字体粗细的默认设置 */
	em,
	cite,
	th {
		/* 风格 */
		font-style: normal;
		/* 粗细 */
		font-weight: normal;
	}

	/* 表格标签的默认设置 */
	table {
		/* 边框会合并为一个单一的边框。会忽略 border-spacing 和 empty-cells 属性 */
		border-collapse: ;
	}

	/* 表头的默认设置 */
	th {
		text-align: left;
	}

	/* 轮廓属性的默认设置 */
	input,
	button,
	select,
	textarea {
		outline: none;
	}

	/* 将以下标签默认为块级元素 */
	article,
	aside,
	dialog,
	footer,
	header,
	section,
	footer,
	nav,
	figure,
	menu {
		display: block;
	}


	/* 页面容器 */
	.page {
		/* 背景色 */
		background-color: #FFFFFF;
		/* 最小宽度 */
		min-width: 1000px;
		/* 内间距 */
		padding: 1px 1% 0 1%;
		/* 文本对齐 */
		text-align: left;
		/* 处理盒子内容 */
		/* 内容会被修剪，并且其余内容是不可见的 */
		overflow: hidden;

	}

	/* 
	.fixed-bar {
		background-color: #FFF;
		width: 100%;
		padding-bottom: 4px;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
	} */


	/* 项目标题模块 */
	.item-title {
		/* 行间距 */
		line-height: 20px;
		/* 忽略元素内的空白 */
		white-space: nowrap;
		width: 98%;
		padding-top: 3px;
		margin: 0 1%;
		border-bottom: 1px solid #E6E6E6;
	}

	/* 主题模块 */
	.item-title .subject {
		/* 元素的顶端与行中最低的元素的顶端对齐 */
		vertical-align: bottom;
		/* 既有行内元素的特性也有块元素的特性 */
		display: inline-block;
		min-width: 190px;
		height: 26px;
		padding: 6px 0px;
		margin-right: 10px;
	}

	.item-title h3 {
		font-size: 16px;
		font-weight: normal;
		line-height: 20px;
		color: #333;
		display: inline-block;
	}

	.item-title h5 {
		font-size: 12px;
		font-weight: normal;
		line-height: 18px;
		color: #777;
		display: inline-block;
		margin-left: 10px;
		min-width: 120px;
	}

	.tab-base {
		vertical-align: bottom;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	.tab-base li {
		height: 35px;
		margin-right: 2px;
	}

	.tab-base a {
		line-height: 20px !important;
		color: #777 !important;
		background-color: #E6E6E6 !important;
		display: block !important;
		height: 20px !important;
		padding: 7px 20px !important;
		border: solid 1px #E6E6E6 !important;
		border-radius: 5px 5px 0 0 !important;
		cursor: pointer;
	}

	.tab-base a span {
		display: inline-block;
		min-width: 60px;
		text-align: center;
	}

	.tab-base a:hover {
		olor: #333 !important;
	}

	.tab-base a.current,
	.tab-base a:hover.current {
		font-size: 14px !important;
		font-weight: 600 !important;
		background-color: #FFF !important;
		border-bottom-color: #FFF !important;
		cursor: default !important;
	}

	.item-title a.back {
		color: #999;
		display: inline-block;
		vertical-align: bottom;
		margin: 0 10px 6px 0;
	}

	.item-title a.back:hover {
		color: #4fc0e8;
	}

	.item-title a.back i {
		font-size: 40px;
	}


	/*表单元素样式*/
	input[type="text"],
	input[type="password"],
	textarea,
	select,
	.editable,
	.editable-tarea {
		color: #333333;
		background-color: #FFF;
		border: solid 1px #D7D7D7;
	}

	input[type="text"],
	input[type="password"],
	textarea,
	select,
	.editable,
	.editable2,
	.editable-tarea,
	.editable-tarea2 {
		padding: 2px 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		/*Firefox\Chrome\Safari\IE9\元素圆角效果*/
		resize: none;
		/*禁止调节元素的尺寸*/
	}

	input[type="text"]:focus,
	input[type="text"]:hover,
	input[type="text"]:active,
	input[type="password"]:focus,
	input[type="password"]:hover,
	input[type="password"]:active,
	textarea:hover,
	textarea:focus,
	textarea:active {
		color: #33464F;
		background-color: #fff;
		border: 1px solid;
		border-color: #2CBCA3;
		-moz-box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
		-webkit-box-shadow: 0 0 0 0 2px rgba(82, 168, 236, 0.15);
		box-shadow: 0 0 0 2px rgba(82, 168, 236, 0.15);
		outline: 0 none;
	}

	input[disabled="disabled"],
	input[readonly="readonly"],
	input[disabled="disabled"]:hover,
	input[readonly="readonly"]:hover,
	input[disabled="disabled"]:focus,
	input[readonly="readonly"]:focus {
		background: #F5F5F5;
		border-color: #D7D7D7;
		box-shadow: none;
	}

	.editable2,
	.editable-tarea2 {
		color: #33464F;
		background-color: #FFF;
		border: 1px dotted;
		border-color: #71CBEF;
	}

	textarea {
		resize: vertical !important;
		/*Textarea支持调节元素的高度*/
	}

	.editable,
	.editable2,
	input[type="text"],
	input[type="password"] {
		line-height: 20px;
		white-space: nowrap;
		display: inline-block;
		height: 20px;
		overflow: hidden;
		cursor: text;
	}

	.editable-tarea,
	.editable-tarea2,
	textarea {
		line-height: 18px;
		display: inline-block;
		height: 36px;
		cursor: text;
		overflow: auto;
	}

	.tarea {
		height: 75px;
		width: 400px;
	}

	.txt,
	select,
	.vmiddle {
		vertical-align: middle;
	}

	.sort input,
	.sort .editable,
	.sort .editable2 {
		width: 36px;
	}

	.name input,
	.name .editable,
	.name .editable2 {
		width: 250px;
	}

	.tag input,
	.tag .editable,
	.tag .editable2 {
		width: 480px;
	}

	.goods-name textarea,
	.editable-tarea,
	.editable-tarea2 {
		width: 250px;
	}

	.class input,
	.class .editable,
	.class .editable2 {
		width: 120px;
	}

	input.readonly,
	textarea.readonly,
	textarea.readonly:focus,
	textarea.readonly:hover,
	input.readonly:focus,
	input.readonly:hover {
		backgorund: #FFF;
		border: solid 1px;
		border-color: #EEE #F5F5F5 #F5F5F5 #EEE;
	}

	.checkbox {
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
		zoom: 1;
	}

	.input-file-show {
		background-color: #FFF;
		vertical-align: top;
		display: inline-block;
		padding-left: 26px;
		border: solid 1px #D7D7D7;
		border-radius: 4px;
		position: relative;
		z-index: 1;
	}

	.input-file-show:hover {
		border-color: #2CBCA3;
		-moz-box-shadow: 0 0 5px rgba(44, 188, 163, 0.5);
		-webkit-box-shadow: 0 0 5px rgba(44, 188, 163, 0.5);
		box-shadow: 0 0 5px rgba(44, 188, 163, 0.5);
	}

	.input-file-show span.show {
		width: 22px;
		height: 22px;
		text-align: center;
		padding: 2px;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
	}

	.input-file-show span.show a {
		color: #AAA;
		display: block;
		width: 22px;
		height: 22px;
	}

	.input-file-show:hover span.show a,
	.input-file-show span.show a:hover {
		color: #2CBCA3;
		text-decoration: none;
	}

	.input-file-show span.show i {
		font-size: 14px;
		line-height: 22px;
		display: block;
	}

	.input-file-show span.show img {
		max-width: 22px;
		max-height: 22px;
	}

	.type-file-box {
		display: block;
		width: 262px;
		height: 26px;
		position: relative;
		z-index: 1;
	}

	.type-file-text {
		line-height: 26px !important;
		display: block;
		width: 163px;
		height: 26px !important;
		float: left !important;
		padding: 0 !important;
		margin: 0 !important;
		border: none 0 !important;
		border-radius: 0 !important;
	}

	.type-file-button,
	.type-file-button:focus {
		background-color: #E6E6E6;
		display: block;
		width: 99px;
		height: 26px;
		float: left !important;
		border: 0;
		border-radius: 0 3px 3px 0;
	}

	.input-file-show:hover .type-file-button {
		color: #FFF;
		background-color: #2CBCA3;
	}

	.type-file-file {
		width: 262px;
		height: 26px;
		position: absolute;
		top: 0;
		right: 0;
		filter: alpha(opacity:0);
		opacity: 0;
		cursor: pointer;
	}

	.type-file-preview {
		background: #FFF;
		display: none;
		padding: 5px;
		border: solid 5px #71CBEF;
		position: absolute;
		z-index: 999;
	}

	.image_display .type-file-show {
		width: 16px;
		height: 16px;
		padding: 2px;
		border: solid 1px #D8D8D8;
		cursor: auto;
	}

	/*按钮*/
	a.ncap-btn-big {
		font: bold 14px/20px "microsoft yahei", arial;
		color: #777;
		background-color: #ECF0F1;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		height: 20px;
		padding: 7px 19px;
		border: solid 1px #BEC3C7;
		border-radius: 3px;
		cursor: pointer;
	}

	a.ncap-btn-blue,
	a.ncap-btn-acidblue,
	a.ncap-btn-green,
	a.ncap-btn-orange,
	a.ncap-btn-red,
	a.ncap-btn-black,
	a:hover.ncap-btn-blue,
	a:hover.ncap-btn-acidblue,
	a:hover.ncap-btn-green,
	a:hover.ncap-btn-orange,
	a:hover.ncap-btn-red,
	a:hover.ncap-btn-black,
	.nscs-table-handle a.btn-orange-current {
		color: #FFF;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.10);
	}

	a.ncap-btn-green {
		background-color: #4fc0e8;
		border-color: #3aa8cf;
		height: 35px;
	}

	a:hover.ncap-btn-green {
		background-color: #3aa8cf;
	}

	.ncap-form-default dl.row,
	.ncap-form-all dd.opt {
		font-size: 0;
		color: #777;
		background-color: #FFF;
		*word-spacing: -1px
			/*IE6、7*/
		;
		padding: 12px 0;
		margin-top: -1px;
		border-style: solid;
		border-width: 1px 0;
		border-color: #F0F0F0;
		position: relative;
		z-index: 1;
	}



	.ncap-form-default dl.row:hover,
	.ncap-form-all dd.opt:hover {
		color: #000;
		background-color: #FFF;
		border-style: dotted;
		border-color: #D7D7D7;
		z-index: 2;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
	}

	/* 分销设置的列表文本布局设置 */
	.ncap-form-default dt.tit,
	.ncap-form-default dd.opt {
		font-size: 12px;
		line-height: 24px;
		vertical-align: top;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		*zoom: 1
			/*IE7*/
		;

	}

	.ncap-form-default dt.tit {
		text-align: right;
		width: 14%;
		padding-right: 2%;
	}

	.ncap-form-default dd.opt {
		text-align: left;
		width: 83%;
	}

	.ncap-form-default dt.tit em {
		font: bold 14px/20px tahoma, verdana;
		color: #F60;
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
	}

	.ncap-form-default .input-txt,
	.ncap-form-all .input-txt {
		width: 280px !important;
	}



	.ncap-form-default .input-btn:hover {
		text-decoration: none;
		color: #333;
		background-color: #E6E6E6;
		border-color: #A9A9A9;
	}

	.ncap-form-default p.notic,
	.ncap-form-all p.notic {
		line-height: 12px;
		line-height: 18px;
		color: #AAA;
		margin-top: 4px;
		clear: both;
	}

	.ncap-form-default dl.row:hover p.notic {
		color: #2cbca3;
	}

	.ncap-form-default div.bot,
	.ncap-form-all div.bot {
		display: block;
		padding: 12px 0 10px 16%;
	}

	/* Used for the Switch effect: */
	.onoff {
		font-size: 0;
		position: relative;
		overflow: hidden;
		display: block;
	}

	.onoff label {
		vertical-align: top;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		cursor: pointer;
	}

	.onoff input[type="radio"] {
		position: absolute;
		top: 0;
		left: -999px;
	}

	.onoff .cb-enable,
	.onoff .cb-disable {
		color: #777;
		font-size: 12px;
		line-height: 20px;
		background-color: #ECF0F1;
		height: 20px;
		padding: 1px 9px;
		border-style: solid;
		border-color: #BEC3C7;
	}

	.onoff .cb-enable {
		border-width: 1px 0 1px 1px;
		border-radius: 4px 0 0 4px;
	}

	.onoff .cb-disable {
		border-width: 1px 1px 1px 0;
		border-radius: 0 4px 4px 0;
	}

	.onoff .cb-disable.selected {
		color: #FFF;
		background-color: #96A6A6;
		border-color: #808B8D;
	}

	.onoff .cb-enable.selected {
		color: #FFF;
		background-color: #1BBC9D;
		border-color: #16A086
	}

	/* ------------------ */

	/*注释说明帮助*/
	.explanation {
		color: #0ba4da !important;
		background-color: rgba(79, 192, 232, 0.11) !important;
		display: block;
		width: 99%;
		height: 100%;
		padding: 6px 9px;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
	}

	.explanation:before {
		content: "";
		background-image: url(../images/wave.png);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 5px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.explanation .title {
		white-space: nowrap;
		margin-bottom: 8px;
		position: relative;
		cursor: pointer;
	}

	.explanation .title h4 {
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		height: 20px;
		display: inline-block;
	}

	.explanation .title i {
		font-size: 18px;
		vertical-align: middle;
		margin-right: 6px;
	}

	.explanation .title span {
		background: url(../images/combine_img.png) no-repeat -580px -200px;
		width: 20px;
		height: 20px;
		position: absolute;
		z-index: 1;
		top: -6px;
		right: -9px;
	}

	.explanation ul {
		color: #748A8F;
		margin-left: 10px;
	}

	.explanation li {
		line-height: 20px;
		background: url(../img/hongdian.jpg) no-repeat 0 0px;
		padding-left: 10px;
		margin-bottom: 4px;
	}

	/* 积分兑换 */
</style>
<style type="text/css">
	.flexigrid .hDivBox {
		float: none;
	}

	.flexigrid .hDiv i.ico-check {
		background: url(../images/flexigrid_pic.png) no-repeat 0 0;
		display: inline-block;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	.flexigrid .hDiv .trSelected i.ico-check {
		background-position: -20px 0;
	}

	/*数据表格头*/
	.flexigrid .hDiv {
		background-color: #F5F5F5;
		clear: both;
		border-style: solid none;
		border-width: 1px 0;
		border-color: #FFF transparent;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}

	.flexigrid .hDiv table {}

	.flexigrid .hDiv th div {}

	.flexigrid .hDivBox {
		float: none;
	}

	.flexigrid .hDiv i.ico-check {
		background: url(../images/flexigrid_pic.png) no-repeat 0 0;
		display: inline-block;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	.flexigrid .hDiv .trSelected i.ico-check {
		background-position: -20px 0;
	}

	.flexigrid .hDiv .sorted {
		background-color: #E6E6E6;
	}

	.flexigrid .hDiv .thOver {}

	.flexigrid .hDiv .thOver div,
	.flexigrid .hDiv .sorted.thOver div {
		padding-bottom: 6px;
		border-bottom: 2px solid #2cbca3;
		cursor: pointer;
	}

	.flexigrid .hDiv .sorted div {
		padding-bottom: 5px;
	}

	.flexigrid .hDiv .thMove {
		background: #fff;
		color: #fff;
	}

	.flexigrid .hDiv .sorted.thMove div {
		border-bottom: 1px solid #fff;
		padding-bottom: 4px
	}

	.flexigrid .hDiv .thMove div {
		background: #fff !important;
	}

	.flexigrid .hDiv th .sdesc {
		background: url(../images/dn.png) no-repeat center top;
	}

	.flexigrid .hDiv th .sasc {
		background: url(../images/up.png) no-repeat center top;
	}

	/*调节表格列宽*/
	.flexigrid .cDrag {
		float: left;
		position: absolute;
		z-index: 2;
		overflow: visible;
	}

	.flexigrid .cDrag div {
		background: none;
		display: block;
		width: 3px;
		height: 24px;
		float: left;
		position: absolute;
		cursor: col-resize;
	}

	.flexigrid .cDrag div:hover,
	.flexigrid .cDrag div.dragging {
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#19000000', endColorstr='#19000000');
		background: rgba(0, 0, 0, 0.1);
		border: solid #FFF;
		border-width: 0 1px;
	}

	/*批量操作条*/
	.flexigrid .tDiv {
		background-color: #FAFAFA;
		border-top: 1px solid #C8C8C8;
		border-bottom: 1px solid #D7D7D7;
		position: relative;
		z-index: 3;
		overflow: hidden;
	}

	.flexigrid .tDiv2 {
		font-size: 0;
		*word-spacing: -1px
			/*IE6、7*/
		;
		padding: 6px 0 6px 6px;
		float: left;
		overflow: hidden;
	}

	.flexigrid .btnseparator {
		float: left;
		height: 22px;
		border-left: 1px solid #ccc;
		border-right: 1px solid #fff;
		margin: 1px;
	}

	.flexigrid .fbutton {
		vertical-align: top;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		padding-right: 8px;
		margin-left: 8px;
		margin-right: -1px;
		border-right: dotted 1px #D7D7D7;
		*zoom: 1
			/*IE7*/
		;
		cursor: pointer;
	}

	.flexigrid .fbutton div {
		font-size: 12px;
		line-height: 20px;
		color: #0ba4da;
		background-color: #FFFFFF;
		height: 20px;
		padding: 2px 7px;
		border: solid 1px #3aa8cf;
		border-radius: 4px;
	}

	.flexigrid .fbutton .add:hover,
	.flexigrid .fbutton.fbOver .add:hover {
		background: rgba(79, 192, 232, 0.11);
	}

	.flexigrid .fbutton .del:hover,
	.flexigrid .fbutton.fbOver .del:hover {
		color: #E84C3D;
		border-color: #E84C3D;
	}

	.flexigrid .fbutton .csv:hover,
	.flexigrid .fbutton.fbOver .csv:hover {
		color: #9C59B8;
		border-color: #9C59B8;
	}

	/*数据表格内容部分*/
	.flexigrid .bDiv {
		background: #fff;
		min-height: 300px;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}

	.flexigrid .bDiv table {
		width: 100%;
	}

	.flexigrid .bDiv td {
		color: #555;
		vertical-align: top;
		white-space: nowrap;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid E6E6E6;
	}

	.flexigrid .bDiv td div {}

	.flexigrid .bDiv a {
		color: #3b639f;
	}

	.flexigrid .bDiv a:hover {
		text-decoration: underline;
		color: #CD0200;
	}

	.flexigrid .bDiv td i.ico-check {
		background: url(../images/flexigrid_pic.png) no-repeat 0 0;
		display: inline-block;
		width: 20px;
		height: 20px;
	}

	.flexigrid .bDiv .trSelected td i.ico-check {
		background-position: -20px 0;
	}

	.flexigrid .bDiv td .on,
	.flexigrid .bDiv td .yes {
		color: #1BBC9D;
		cursor: default;
	}

	.flexigrid .bDiv td .off,
	.flexigrid .bDiv td .no {
		color: #9ea3a7;
		cursor: default;
	}

	.flexigrid .bDiv td.normal {
		color: #C30;
	}

	.flexigrid .bDiv td.abnormal {
		color: #090;
	}

	.flexigrid .bDiv td.column-a {
		background-color: #F6EEFB;
	}

	.flexigrid .bDiv td.column-b {
		background-color: #F9F3D7;
	}

	.flexigrid .bDiv td.column-c {
		background-color: #FBEEE0;
	}

	/*数据表格查看操作项*/
	.flexigrid .bDiv .handle div {
		font-size: 0;
		*word-spacing: -1px
			/*IE6、7*/
		;
	}

	.flexigrid .bDiv a.btn {
		font-size: 12px;
		font-weight: normal;
		line-height: 20px;
		color: #777;
		background: #FFF none;
		vertical-align: top;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		*zoom: 1
			/*IE7*/
		;
		height: 20px;
		padding: 1px 6px;
		margin: 0 5px 0 0;
		border: solid 1px #F5F5F5;
		border-radius: 4px;
		cursor: pointer !important;
	}

	.flexigrid .bDiv a.btn:hover {
		color: #555;
		text-decoration: none;
		box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	}

	.flexigrid .bDiv a.red:hover {
		color: #FFF;
		background-color: rgba(196, 24, 45, 0.8);
		border-color: rgba(196, 24, 45, 0.8);
	}

	.flexigrid .bDiv a.blue:hover {
		color: #FFF;
		background-color: rgba(53, 152, 220, 0.8);
		border-color: rgba(53, 152, 220, 0.8);
	}

	.flexigrid .bDiv a.green:hover {
		color: #FFF;
		background-color: #1BBC9D;
		border-color: #16A086;
	}

	.flexigrid .bDiv a.orange:hover {
		color: #FFF;
		background-color: #FFBF40;
		border-color: #FFBF40;
	}

	.flexigrid .bDiv a.purple:hover {
		color: #FFF;
		background-color: #9C59B8;
		border-color: #8F44AD;
	}

	.flexigrid .bDiv a.pomegranate:hover {}

	.flexigrid .bDiv a.belize-hole:hover {
		color: #FFF;
		background-color: #E84C3D;
		border-color: #C1392B;
	}

	.flexigrid .bDiv .handle span {
		font-size: 12px;
	}

	.flexigrid .bDiv span.btn {
		font-size: 12px;
		vertical-align: top;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		*zoom: 1
			/*IE7*/
		;
		position: relative;
		z-index: 1;
		cursor: default;
	}

	.flexigrid .bDiv span.btn:hover {
		z-index: 3;
		box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	}

	.flexigrid .bDiv span.btn em {
		color: #777;
		line-height: 20px;
		background-color: #FFF;
		display: block;
		height: 20px;
		padding: 1px 6px;
		border: solid 1px #F5F5F5;
		border-radius: 4px 0 0 4px;
		position: relative;
		z-index: 2;
	}

	.flexigrid .bDiv span.btn:hover em {
		color: #FFF;
		background-color: #4fc0e8;
		border-color: #3aa8cf;
	}

	.flexigrid .bDiv span.btn em i {
		font-size: 14px;
		vertical-align: middle;
		margin-right: 4px;
	}

	.flexigrid .bDiv span.btn em .arrow {
		font-size: 0px;
		line-height: 0;
		vertical-align: middle;
		display: inline-block;
		width: 0px;
		height: 0px;
		float: none;
		margin: 0 0 0 4px;
		border-width: 4px;
		border-color: #999 transparent transparent transparent;
		border-style: solid dashed dashed dashed;
		-webkit-transition: .2s ease-in;
		-moz-transition: -webkit-transform .2s ease-in;
		-o-transition: -webkit-transform .2s ease-in;
		transition: .2s ease-in;
	}

	.flexigrid .bDiv span.btn:hover .arrow {
		border-color: #FFF transparent transparent transparent;
		FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
		-moz-transform: rotate(270deg);
		-moz-transform-origin: 50% 30%;
		-webkit-transform: rotate(270deg);
		-webkit-transform-origin: 50% 30%;
		-o-transform: rotate(270deg);
		-o-transform-origin: 50% 30%;
		transform: rotate(270deg);
		transform-origin: 50% 30%;
	}

	.flexigrid .bDiv span.btn ul {
		background-color: #4fc0e8;
		display: none;
		border: solid 1px #3aa8cf;
		border-radius: 0 4px 4px 0;
		margin-left: -2px;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 100%;
		overflow: hidden;
		box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	}

	.flexigrid .bDiv tr:last-child span.btn ul {
		bottom: 0;
		top: auto;
	}

	.flexigrid .bDiv tr:first-child span.btn ul {
		bottom: auto;
		top: 0;
	}

	.flexigrid .bDiv tr:nth-last-child(2) span.btn ul {
		bottom: auto;
		top: 0;
	}

	.flexigrid .bDiv span.btn:hover ul {
		display: block;
		padding: 0 5px;
	}

	.flexigrid .bDiv span.btn ul li {
		border-bottom: dotted 1px #3aa8cf;
		clear: both;
		margin-bottom: -1px;
	}

	.flexigrid .bDiv span.btn ul li a {
		color: #FFF;
		display: block;
		line-height: 24px;
		text-align: right;
		height: 24px;
		padding: 0 5px;
	}

	.flexigrid .bDiv span.btn ul li a:hover {
		text-decoration: underline;
	}

	.flexigrid .bDiv span.btn ul li a.expire {
		color: #FF0 !important;
	}

	.flexigrid .bDiv a.expired {
		color: #F30;
	}

	.flexigrid .bDiv a.expire {
		color: #F93;
	}

	i.fa-external-link {
		color: #999 !important;
		font-size: 9px !important;
		margin-left: 4px;
		margin-right: 0;
	}

	.flexigrid .bDiv .user-avatar {
		background-color: #FFF;
		vertical-align: middle;
		display: inline-block;
		width: 22px;
		height: 22px;
		margin-right: 6px;
		border: solid 1px #D7D7D7;
		border-radius: 50%;
	}

	.flexigrid .bDiv .pic-thumb-tip {
		color: #777;
	}

	.flexigrid .bDiv .pic-thumb-tip i {
		font-size: 14px;
	}

	.flexigrid .bDiv .pic-thumb-tip:hover {
		color: #333;
	}

	/*数据表格查询为空*/
	.no-data,
	.flexigrid .bDiv .no-data {
		font-size: 14px;
		color: #999;
		width: 100% !important;
		height: 24px;
		border: 0 none !important;
		text-align: center;
		padding: 100px 0;
	}

	.flexigrid .bDiv .trSelected .no-data,
	.flexigrid .bDiv .no-data:hover {
		color: #999 !important;
		background-color: transparent !important;
	}

	.no-data i,
	.flexigrid .bDiv .no-data i {
		font-size: 18px;
		margin-right: 6px;
		color: #FC0;
	}

	.flexigrid .bDiv .handle-btn {}

	/*hDiv\bDiv\colCopy同步项*/
	.flexigrid .hDiv th,
	.flexigrid .bDiv td {
		vertical-align: top !important;
		text-align: left;
		border-left: solid 1px #f5eded;
		border-bottom: solid 1px #f5eded;
		overflow: visible;
	}

	.flexigrid .hDiv th div,
	.flexigrid .bDiv td div,
	.colCopy div {
		display: block;
		line-height: 22px;
		text-overflow: ellipsis;
		white-space: nowrap;
		height: 22px;
		padding: 8px;
		overflow: hidden;
	}

	.flexigrid .bDiv td div {
		padding: 10px 8px;
	}

	.flexigrid .tdDivs th div,
	.flexigrid .tdDivs td div,
	.colCopy div {
		overflow: inherit;
		margin-top: -4px;
		width: 80px;
		height: auto;
		min-height: 22px;
	}

	.flexigrid .hDiv .sign div,
	.flexigrid .bDiv .sign div {
		min-width: 24px !important;
		max-width: 24px !important;
	}

	.flexigrid .hDiv .handle div,
	.flexigrid .bDiv .handle div {
		overflow: visible;
		min-width: 150px !important;
		max-width: 174px !important;
	}

	.flexigrid .hDiv .handle-s div,
	.flexigrid .bDiv .handle-s div {
		overflow: visible;
		min-width: 60px !important;
		max-width: 60px !important;
	}

	.flexigrid.hideBody {
		height: 26px !important;
		border-bottom: 1px solid #ccc;
	}

	.ie6fullwidthbug {
		border-right: 0px solid #ccc;
		padding-right: 2px;
	}

	.flexigrid .bDiv table.autoht {
		width: 100%;
		margin-bottom: 0px;
		border-bottom: 0px;
	}

	.flexigrid .nBtn.srtd {
		background: url(../images/wbg.gif) repeat-x 0px -1px;
	}

	.flexigrid .hDiv th,
	.colCopy {
		font-weight: 600;
		white-space: nowrap;
		cursor: default;
		overflow: hidden;
	}

	.colCopy {
		color: #333;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#E5FFFFFF', endColorstr='#E5FFFFFF');
		background: rgba(255, 255, 255, 0.9);
		border: dotted 1px #D7D7D7;
		overflow: hidden;
		box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
		z-index: 9;
	}

	.flexigrid tr td.sorted {
		background-color: #F9F9F9;
		border-bottom: 1px solid #E6E6E6
	}

	.flexigrid tr td.sorted div {
		bckground: #FFF7CF
	}

	.flexigrid tr.erow td {
		background: #FDFDFD;
		border-bottom: 1px solid #F5F5F5;
	}

	.flexigrid tr.erow td.sorted {
		background: #F0F0F0;
		border-bottom: 1px solid #E6E6E6;
	}

	.flexigrid tr.erow td.sorted div {}

	.flexigrid div.bDiv tr:hover td,
	.flexigrid div.bDiv tr:hover td.sorted,
	.flexigrid div.bDiv tr.trOver td.sorted,
	.flexigrid div.bDiv tr.trOver td {
		background: #F4FCFA;
	}

	.flexigrid div.bDiv tr.trSelected:hover td,
	.flexigrid div.bDiv tr.trSelected:hover td.sorted,
	.flexigrid div.bDiv tr.trOver.trSelected td.sorted,
	.flexigrid div.bDiv tr.trOver.trSelected td,
	.flexigrid tr.trSelected td.sorted,
	.flexigrid tr.trSelected td {
		color: #333;
		background: #FFFFDF;
		border-color: transparent;
		border-bottom: 1px solid #FFEFBF;
	}

	.flexigrid .pDiv {
		background-color: #F5F5F5;
		border-style: solid;
		border-color: #D7D7D7 transparent #C8C8C8 transparent;
		border-width: 1px 0;
		position: relative;
		z-index: 3;
	}

	.flexigrid .pDiv .pDiv2 {
		padding: 6px 0;
		margin: 0;
		border-color: #FFF;
		border-style: solid;
		border-width: 1px 0;
		position: relative;
		z-index: 1;
	}

	.flexigrid .pGroup-left {
		color: #777;
		line-height: 24px;
		height: 24px;
		position: absolute;
		z-index: 1;
		top: 6px;
		left: 12px;
	}

	.flexigrid .pGroup-left .select {
		font-family: Arial, Helvetica, sans-serif;
		vertical-align: middle;
		display: inline-block;
		*display: inline;
		width: 40px;
		height: 24px;
		background-color: transparent;
		padding: 0;
		margin: 0 6px 0 0;
		border-radius: 0;
		border: none;
		*zoom: 1;
	}

	.flexigrid .pGroup-right {
		color: #777;
		line-height: 24px;
		height: 24px;
		position: absolute;
		z-index: 1;
		top: 6px;
		right: 12px;
	}

	/*f表格翻页控制*/
	.flexigrid .pGroup-middle {
		font-size: 0;
		*word-spacing: -1px
			/*IE6、7*/
		;
		text-align: center;
		margin: 0 auto;
		width: 250px;
		height: 24px;
		float: none;
		z-index: auto;
	}

	.flexigrid .pGroup-middle .pButton,
	.flexigrid .pGroup-middle .pcontrol,
	.flexigrid .pGroup-middle .pcontrol input,
	.flexigrid .pGroup-middle .pcontrol span {
		vertical-align: middle;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		*zoom: 1
			/*IE7*/
		;
	}

	.flexigrid .pGroup-middle .pButton {
		color: #999;
		background-color: transparent;
		text-align: center;
		width: 24px;
		height: 24px;
		padding: 0;
		margin-right: 8px;
		border-radius: 4px;
		cursor: pointer;
		overflow: hidden;
	}

	.flexigrid .pGroup-middle .pButton:hover {
		color: #333;
		background-color: #CCC;
		padding: 0;
		border: 0;
	}

	.flexigrid .pGroup-middle .pButton i {
		line-height: 24px;
		font-size: 14px;
	}

	.flexigrid .pGroup-middle .pcontrol {
		font-size: 12px;
		line-height: 20px;
		color: #999;
		*word-spacing: -1px
			/*IE6、7*/
		;
		margin-right: 10px;
	}

	.flexigrid .pGroup-middle .pcontrol input {
		color: #333;
		background-color: transparent;
		text-decoration: underline;
		text-align: center;
		width: 20px;
		padding: 0;
		border: none;
		border-radius: 0;
	}

	.flexigrid .pGroup-middle .pcontrol input:hover,
	.flexigrid .pGroup-middle .pcontrol input:focus {
		background-color: #FFF;
		box-shadow: none;
	}

	.pPageStat {
		display: block;
		line-height: 40px;
		text-align: center;
		color: #FFF;
		position: absolute;
		top: -40px;
		left: 0px;
		right: 0px;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#7F000000', endColorstr='#7F000000');
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
	}

	.flexigrid .pGroup-middle .pcontrol span {
		margin-right: 2px;
	}

	.flexigrid .pDiv .pButton.pBtnOver {
		width: 20px;
		height: 20px;
		border: 1px solid #ccc;
		cursor: pointer;
	}

	.flexigrid .pDiv .pButton span {
		display: block;
		width: 20px;
		height: 20px;
		float: left;
	}

	.flexigrid .pDiv .pButton:hover span,
	.flexigrid .pDiv .pButton.pBtnOver span {
		width: 19px;
		height: 19px;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
	}

	.flexigrid div.iDiv {
		border: 1px solid #316ac5;
		position: absolute;
		overflow: visible;
		background: none;
	}

	.flexigrid div.iDiv input,
	.flexigrid div.iDiv select,
	.flexigrid div.iDiv textarea {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
	}

	.flexigrid div.iDiv input.tb {
		border: 0px;
		width: 100%;
		height: 100%;
		padding: 0px;
		background: none;
	}

	.flexigrid div.hGrip {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 5px;
		width: 5px;
		background: url(../images/line.gif) repeat-x center;
		margin-right: 1px;
		cursor: col-resize;
	}

	.flexigrid div.hGrip:hover,
	.flexigrid div.hGrip.hgOver {
		border-right: 1px solid #999;
		margin-right: 0px;
	}

	.flexigrid div.vGrip {
		height: 5px;
		overflow: hidden;
		position: relative;
		background: #fafafa url(../images/wbg.gif) repeat-x 0px -1px;
		border: 1px solid #ccc;
		border-top: 0px;
		text-align: center;
		cursor: row-resize;
		display: none;
	}

	.flexigrid div.vGrip span {
		display: block;
		margin: 1px auto;
		width: 20px;
		height: 1px;
		overflow: hidden;
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		background: none;
	}

	.flexigrid span.cdropleft {
		display: block;
		background: url(../images/prev.gif) no-repeat -4px center;
		width: 24px;
		height: 24px;
		position: relative;
		top: -24px;
		margin-bottom: -24px;
		z-index: 3;
	}

	.flexigrid div.hDiv span.cdropright {
		display: block;
		background: url(../images/next.gif) no-repeat 12px center;
		width: 24px;
		height: 24px;
		float: right;
		position: relative;
		top: -24px;
		margin-bottom: -24px;
	}

	/* ie adjustments */
	.flexigrid.ie .hDiv th div,
	.colCopy.ie div

	/* common inner cell properties*/
		{
		overflow: hidden;
	}

	.ftitle>h3 {
		margin-right: 6px;
		font-size: 16px;
		color: #333;

	}

	.ftitle>h3,
	.ftitle>h5 {
		font-weight: normal;
		line-height: 24px;
		vertical-align: bottom;
		letter-spacing: normal;
		display: inline-block;
		padding: 0;
	}
</style>
<style type="text/css">
	.tab-base {
		vertical-align: bottom;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	.tab-base li {
		height: 35px;
		margin-right: 2px;
	}

	.tab-base a {
		line-height: 20px !important;
		color: #777 !important;
		background-color: #E6E6E6 !important;
		display: block !important;
		height: 20px !important;
		padding: 7px 20px !important;
		border: solid 1px #E6E6E6 !important;
		border-radius: 5px 5px 0 0 !important;
		cursor: pointer;
	}

	.tab-base a span {
		display: inline-block;
		min-width: 60px;
		text-align: center;
	}

	.tab-base a:hover {
		olor: #333 !important;
	}

	.tab-base a.current,
	.tab-base a:hover.current {
		font-size: 14px !important;
		font-weight: 600 !important;
		background-color: #FFF !important;
		border-bottom-color: #FFF !important;
		cursor: default !important;
	}

	.nc-row {
		font-size: 0 !important;
	}

	.nc-row li {
		font-size: 12px;
		vertical-align: top;
		letter-spacing: normal;
		display: inline-block !important;
	}

	/*标题*/
	.flexigrid .mDiv .ftitle {
		font-size: 0;
		*word-spacing: -1px
			/*IE6、7*/
		;
		height: 24px;
		float: left;
	}

	.flexigrid .mDiv .ftitle h3,
	.flexigrid .mDiv .ftitle h5 {
		font-size: 12px;
		font-weight: normal;
		line-height: 24px;
		color: #777;
		vertical-align: bottom;
		letter-spacing: normal;
		display: inline-block;
		*display: inline
			/*IE7*/
		;
		padding: 0;
		*zoom: 1
			/*IE7*/
		;
	}

	.flexigrid .mDiv .ftitle h3 {
		font-size: 16px;
		color: #333;
		margin-right: 6px;
	}

	/*数据统计数*/
	.flexigrid .pReload {
		color: #999;
		background-color: #FFF;
		width: 24px;
		height: 24px;
		float: left;
		text-align: center;
		line-height: 24px;
		margin: 0 0 0 20px;
		position: relative;
		z-index: 1;
	}

	.flexigrid .pReload:hover {
		color: #333;
		background-color: #E6E6E6;
		border-radius: 5px;
		cursor: pointer;
	}

	.flexigrid .pReload i {
		font-size: 14px;
		margin: 0;
	}

	.flexigrid .pReload.loading i {
		color: #090;
		display: inline-block;
		-webkit-animation: fa-spin 0.2s infinite linear;
		animation: fa-spin 0.2s infinite linear;
	}

	.th_div_01 {
		height: 44px;
		text-align: left;
		width: 360px;
	}

	.form-control {
		height: 30px;
	}
</style>
<div>
	<div class="page">
		<div class="fixed-bar">
			<div class="item-title">
				<div class="subject">
					<h3>微信菜单管理</h3>
					<h5>微信菜单</h5>
				</div>
			</div>
		</div>
		<!-- 操作说明 -->
		<div class="card-body">
			<p>
				<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">与href链接</font>
					</font>
				</a> -->
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"
				 aria-controls="collapseExample">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">操作提示</font>
					</font>
				</button>
			</p>
			<div class="collapse show" id="collapseExample" style="">
				<div class="card card-body">
					<font style="vertical-align: inherit;">
						<!-- <font style="vertical-align: inherit;">Anim pariatur cliche reprehenderit，enim eiusmod high life accusamus terry
							richardson ad squid。</font> -->
						<font style="vertical-align: inherit;">
							同微信公众号后台添加菜单一样,会员在此添加微信菜单
						</font>
					</font>
				</div>
			</div>
		</div>
		<!-- <div class="explanation" id="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
			<div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
				<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
				<span title="收起提示" id="explanationZoom" style="display: block;"></span>
			</div>
			<ul>
				<li>同微信公众号后台添加菜单一样,会员在此添加微信菜单</li>
			</ul>
		</div> -->
		<div class="flexigrid">
			<div class="mDiv">
				<div class="ftitle">
					<h3>菜单列表</h3>
					<h5></h5>
				</div>
				<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
				<form name="search-form2" class="navbar-form form-inline" id="search-form2" method="post">
					<div class="sDiv">
					</div>
				</form>
			</div>
			<div class="hDiv">
				<div class="hDivBox">
					<table cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="sign" axis="col0">
									<div style="width: 24px;"><i class="ico-check"></i></div>
								</th>
								<th align="left" abbr="order_sn" axis="col3">
									<div style="text-align: left; width: 320px;height: 40px;">菜单名称</div>
								</th>
								<th align="center" abbr="article_time" axis="col6">
									<div style="text-align: left; width: 260px;height: 40px;">菜单类型</div>
								</th>
								<th align="center" abbr="article_time" axis="col6">
									<div style="text-align: left; width: 260px;height: 40px;">菜单URL</div>
								</th>
								<th style="width:100%" axis="col7">
									<div></div>
								</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="bDiv" style="height: auto;">
				<div id="flexigrid" border="0" cellspacing="0" cellpadding="0">
					<form id="menuForm" action="" method="post">
						<table>
							<tbody id="tbody">
								<tr class="odd  pmenu1 menu1" data-id="1">
									<td class="sign" axis="col0">
										<div style="width: 24px;"><i class="ico-check"></i></div>
									</td>
									<td align="left" abbr="username" axis="col3">
										<div style="text-align: left; width: 320px;height: 44px;">
											<input name="menu[1][name]" class="input-txt topmenu" type="text" value="我的商城">
											<a class="btn green" onclick="addcmenu(1);"><i class="fa fa-plus"></i>添加</a>
											<a class="btn red" onclick="delmenu(1, false);"><i class="fa fa-trash-o"></i>删除</a>
										</div>
									</td>
									<td align="left" abbr="article_time" axis="col6">
										<div class="opt" style="text-align: left; width: 260px;height: 44px;">
											<select name="menu[1][type]" class="form-control" style="font-size: 12px;">
												<option value="view" selected="">链接</option>
												<option value="click">触发关键字</option>
												<option value="scancode_push">扫码</option>
												<option value="scancode_waitmsg"> 扫码（等待信息）</option>
												<option value="pic_sysphoto">系统拍照发图</option>
												<option value="pic_photo_or_album">拍照或者相册发图</option>
												<option value="pic_weixin">微信相册发图</option>
												<option value="location_select">地理位置</option>
											</select>
										</div>
									</td>
									<td align="left" abbr="article_time" axis="col6">
										<div style="text-align: left; width: 360px;height: 44px;"><input name="menu[1][value]" class="input-txt"
											 style="width:300px" type="text" value="http://b2t.tp-shop.cn/"></div>
									</td>
									<td align="" style="width: 100%;">
										<div>&nbsp;</div>
									</td>
									<input name="menu[1][pid]" style="width: 100%" type="hidden" value="0">
								</tr>
								<!--父级操作-->
								<tr class="odd  pmenu2 menu2" data-id="2">
									<td class="sign" axis="col0">
										<div style="width: 24px;"><i class="ico-check"></i></div>
									</td>
									<td align="left" abbr="username" axis="col3">
										<div style="text-align: left; width: 320px;height: 44px;">
											<input name="menu[2][name]" class="input-txt topmenu" type="text" value="我的订单">
											<a class="btn green" onclick="addcmenu(2);"><i class="fa fa-plus"></i>添加</a>
											<a class="btn red" onclick="delmenu(2, false);"><i class="fa fa-trash-o"></i>删除</a>
										</div>
									</td>
									<td align="left" abbr="article_time" axis="col6">
										<div class="opt" style="text-align: left; width: 260px;height: 44px;">
											<select name="menu[2][type]" class="form-control" style="font-size: 12px;">
												<option value="view" selected="">链接</option>
												<option value="click">触发关键字</option>
												<option value="scancode_push">扫码</option>
												<option value="scancode_waitmsg"> 扫码（等待信息）</option>
												<option value="pic_sysphoto">系统拍照发图</option>
												<option value="pic_photo_or_album">拍照或者相册发图</option>
												<option value="pic_weixin">微信相册发图</option>
												<option value="location_select">地理位置</option>
											</select>
										</div>
									</td>
									<td align="left" abbr="article_time" axis="col6">
										<div style="text-align: left; width: 360px;height: 44px;"><input name="menu[2][value]" class="input-txt"
											 style="width:300px" type="text" value="http://b2t.tp-shop.cn/"></div>
									</td>
									<td align="" style="width: 100%;">
										<div>&nbsp;</div>
									</td>
									<input name="menu[2][pid]" style="width: 100%" type="hidden" value="0">
								</tr>
								<!--父级操作-->
							</tbody>
						</table>
						<div class="sDiv" style="float:left;margin-top:10px">
							<a class="btn green" onclick="addpmenu()"><i class="fa fa-plus"></i>添加一级菜单</a>
							<a class="btn green" style="float:right" onclick="formSubmit()">保存</a>
						</div>
					</form>
				</div>
				<div class="iDiv" style="display: none;"></div>
			</div>
			<!--分页位置-->
		</div>
	</div>
</div>
