<style>
	.content{
		padding: 10px;
		width: 100%;
		background-color: white;
		padding: 30px;
		height: 1300px;
	}
	.content>.row{
		height: 200px;
		margin-bottom: 5px;
	}
	.content>.row>.col-3{
		position: relative;
		border-radius: 20px;
		margin-right: 30px;
		background-color: #32cc7f;
	}
	.content>.row>.col-3>.qianbao{
		display: inline-block;
		margin-top: 80px;
		margin-left: 30px;
	}
	.content>.row>.col-3>.qianbaos{
		color: white;
		font-size: 20px;
		position: absolute;
		display: inline-block;
		right: 40px;
		bottom: 48px;
	}
	.content>.row>.col-3>.qianbaos>span,.content>.row>.col-3>.wendangs>span,.content>.row>.col-3>.liaotians>span,.content>.row>.col-3>.jiaos>span{
		font-size: 15px;
	}
	.content>.row>[name="wendang"],.content>.row>[name="liaotian"]{
		background-color: #E4E5E6;
	}
	.content>.row>.col-3>.wendang{
		position: absolute;
		right: 50px;
		bottom: 48px;
	}
	.content>.row>.col-3>.wendangs{
		color: #00BF8F;
		font-size: 23px;
		position: absolute;
		display: inline-block;
		left: 20px;
		bottom: 48px;
	}
	
	.content>.row>.col-3>.liaotian{
		position: absolute;
		left: 30px;
		bottom: 48px;
	}
	.content>.row>.col-3>.liaotians{
		color: #6C6FBF;
		font-size: 23px;
		position: absolute;
		display: inline-block;
		right: 20px;
		bottom: 48px;
	}
	.content>.row>[name="dajiao"]{
		background-color: #6C6FBF;
	}
	.content>.row>.col-3>.jiao{
		position: absolute;
		right: 70px;
		bottom: 48px;
	}
	.content>.row>.col-3>.jiaos{
		color: white;
		position: absolute;
		left: 40px;
		bottom: 48px;
	}
	.content>[name="zhongbu"]{
		margin-top: 30px;
		height: 230px;
	}
	.content>[name="zhongbu"]>.cols{
		margin: 0 auto;
		width: 250px;
	}
	.content>[name="zhongbu"]>.cols>button{
		width: 100%;
		height: 100%;	
	}
	.content>[name="zhongbu"]>.cols>button>span{
		display: block;
		font-size: 20px;
		color: red;
	}
	.content>[name="zhongbu"]>.cols>button>a{
		display: block;
		margin: 0 auto 20px auto;
		width: 50px;
		height: 50px;
		padding: 15px;
		font-size: 10px;
	}
	.xinxi{
		height: 40px;
		width: 100%;
		margin: 20px 0 20px 0;
		font-size: 20px;
		font-weight: 800;
		border-bottom: 1px solid #D5D7D8;
	}
</style>
<div class="animated fadeIn">
	<div class="container-fluid">
		<div class="row">
			<span class="col-1">管理中心</span>
		</div>
		
		<div class="content">
			<div class="row">
				<div class="col-3">
					<i class="qianbao"><img src="img/qianbao.png" width="71" height="74"></i>
					<div class="qianbaos">
						<div>0</div>
						<span>今日订单总数</span>
					</div>
				</div>
				
				<div class="col-3 bg-light" name="wendang">
					<i class="wendang"><img src="img/wendang.png" width="71" height="74"></i>
					<div class="wendangs">
						<div>0</div>
						<span>今日会员总数</span>
					</div>
				</div>
				
				<div class="col-3 bg-light" name="liaotian">
					<i class="liaotian"><img src="img/liaotian.png" width="71" height="74"></i>
					<div class="liaotians">
						<div>0</div>
						<span>今日待审评论数</span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-3" name="dajiao">
					<i class="jiao"><img src="img/jiao.png" width="71" height="74"></i>
					<div class="jiaos">
						<div>0</div>
						<span>今日访问量</span>
					</div>
				</div>
			</div>
			<!-- 中间部分 -->
			<div class="row" name="zhongbu">
				<div class="cols">
					<button class="btn btn-block btn-light" type="button">
						<a class="bg-info">
							<i class="fa fa-file-text-o font-2xl fa-lg"></i>
						</a>
						待处理订单
						<span>95</span>
					</button>
				</div>
				<div class="cols">
					<button class="btn btn-block btn-light" type="button">
						<a class="bg-success">
							<i class="icon-notebook icons font-2xl d-block"></i>
						</a>
						商品数量
						<span>25</span>
					</button>
				</div>
				<div class="cols">
					<button class="btn btn-block btn-light" type="button">
						<a class="bg-primary">
							<i class="icon-book-open icons font-2xl d-block"></i>
						</a>
						文章数量
						<span>433</span>
					</button>
				</div>
				<div class="cols">
					<button class="btn btn-block btn-light" type="button">
						<a class="bg-warning">
							<i class="icon-people icons font-2xl d-block"></i>
						</a>
						会员总数
						<span>125</span>
					</button>
				</div>
			</div>
			<!-- 最後部分 -->
			<div class="row">
				<div class="xinxi">版本信息</div>
				<table class="table table-responsive-sm table-bordered">
					<tbody>
					  <tr>
						<td>程序版本:</td>
						<td>TPshop v3.5.0</td>
						<td>更新时间:</td>
						<td>2019-07-10</td>

					  </tr>
					  <tr>
						<td>程序开发:</td>
						<td>TPshop开源商城</td>
						<td>版权所有:</td>
						<td>盗版必究</td>

					  </tr>
					  <tr>
						<td>官方授权:</td>
						<td><a href="#">商业授权</a></td>
						<td>官方论坛:</td>
						<td><a href="#">TPshop交流论坛</a></td>
					</tbody>
				</table>
			</div>		
					
			<div class="row">
				<div class="xinxi">系统信息</div>
				<table class="table table-responsive-sm table-bordered">
					<tbody>
						
					  <tr>
						<td>服务器操作系统:</td>
						<td>Linux</td>
						<td>服务器域名/IP:</td>
						<td>39.98.44.72 [ 39.98.44.72 ]</td>
					  </tr>
					  
					  <tr>
						<td>服务器环境:</td>
						<td>Apache/2.4.6 (CentOS) PHP/5.6.40</td>
						<td>PHP 版本:</td>
						<td>5.6.40</td>
					  </tr>
					  
					  <tr>
						<td>Mysql 版本:</td>
						<td>5.5.60-MariaDB</td>
						<td>GD 版本:</td>
						<td>2.2.5</td>
					  </tr>
					  
					   <tr>
						<td>文件上传限制:</td>
						<td>2M</td>
						<td>最大占用内存:</td>
						<td>128M</td>
					  </tr>
					  
					   <tr>
						<td>最大执行时间:</td>
						<td>30s</td>
						<td>安全模式:</td>
						<td>NO</td>
					  </tr>
					  
					   <tr>
						<td>Zlib支持:</td>
						<td>YES</td>
						<td>Curl支持:</td>
						<td>YES</td>
					  </tr>
					</tbody>
				</table>
			</div>
			
		</div>
		
	</div>
</d 	iv>