<div class="animated fadeIn">
	<div class="row">
		<div class="col-1">
			<a class="btn  btn-primary " style="margin-bottom: 15px ;border-radius:50%;" role="button" href="w-supplier-list.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-arrow-left"></i></a>
		</div>
		<div class="col-8">
			<h4 >供应商管理 - 编辑供应商  <small class="text-muted"> 网站系统供应商管理 </small></h4>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header">
			<strong>网站系统管理员添加</strong></div>
		<div class="card-body">
			<form class="form-horizontal" action="" method="post">
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="name"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 用户名 </label>
					<div class="col-md-6">
						<input class="form-control" id="name" type="text" name="name" placeholder="请输入用户名" autocomplete="email">
						<span class="help-block offset-1">用户名</span>
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="hf-email"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> Email地址 </label>
					<div class="col-md-6">
						<input class="form-control" id="hf-email" type="email" name="hf-email" placeholder="请输入Email地址" autocomplete="email">
						<span class="help-block offset-1">Email地址</span>
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="hf-password"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 登陆密码</label>
					<div class="col-md-6">
						<input class="form-control" id="hf-password" type="password" name="hf-password" placeholder="请输入密码" autocomplete="current-password">
						<span class="help-block offset-1">登陆密码</span>
					</div>
				</div>
	
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 所属角色</label>
					<div class="col-md-6">
						<select class="form-control form-control-sm col-4 " id="select3" name="select3">
							<option value="1">超级管理员</option>
							<option value="2">编辑</option>
							<option value="4">客服</option>
							<option value="6">仓管员</option>
							<option value="9">运营专员</option>
							<option value="10">加盟商</option>
							<option value="11">文章管理</option>
						</select>
						<span class="help-block offset-1">所属角色</span>
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer ">
			<div class="offset-3">
				<a class="btn  btn-primary" role="button" href="wAdminManage.html" data-toggle="ajaxLoad" data-target="#ui-view">确认提交</a>
			</div>
		</div>
	</div>
</div>