<style type="text/css">
	.help-block {
		color: #777;
		font-size: 0.75rem;
	}
</style>
<div class="animated fadeIn">
	<div class="row">
		<div class="col-1">
			<a class="btn  btn-primary " style="margin-bottom: 15px ;border-radius:50%;" role="button" href="w-supplier-list.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-arrow-left"></i></a>
		</div>
		<div class="col-8">
			<h4 >供应商管理 - 编辑供应商  <small class="text-muted"> 网站系统供应商管理 </small></h4>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header">
			<strong>供应商管理添加</strong></div>
		<div class="card-body">
			<form class="form-horizontal" action="" method="post">
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="name"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 供应商名称 </label>
					<div class="col-md-4">
						<input class="form-control" id="name" type="text" name="name"  >
						<span class="help-block offset-1">供应商名称</span>
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for=""><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 供应商描述 </label>
					<div class="col-md-4">
						<input class="form-control" id="" type="text" name=""  >
						<span class="help-block offset-1">供应商描述</span>
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for=""><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 供应商联系人</label>
					<div class="col-md-4">
						<input class="form-control" id="" type="text" name="" placeholder="" >
						<span class="help-block offset-1">供应商联系人</span>
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for=""><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 供应商电话</label>
					<div class="col-md-4">
						<input class="form-control" id="" type="text" name="" placeholder="" >
						<span class="help-block offset-1">供应商电话</span>
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i> 分配管理员账号</label>
					<div class="col-md-4">
						<select class="form-control form-control-sm col-4 " id="select3" name="select3">
							<option value="1">12</option>
							<option value="2">admin</option>
							<option value="4">tpshop</option>
							<option value="6">test</option>
						</select>
						<span class="help-block offset-1">所属管理员</span>
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer ">
			<div class="offset-3">
				<a class="btn  btn-primary" role="button" href="w-supplier-list.html" data-toggle="ajaxLoad" data-target="#ui-view">确认提交</a>
			</div>
		</div>
	</div>
</div>