<div class="animated fadeIn">
	<h4>供应商管理  <small class="text-muted"> 网站系统供应商索引与管理 </small></h4>
	<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> 供应商列表</div>
		<div class="card-body">
			<table class="table table-responsive-sm table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>供应商名称</th>
						<th>供应商描述</th>
						<th>供应商联系人</th>
						<th>供应商电话</th>
						<th>所属管理员</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="8">
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="w-add-supplier-list.html"><i
								 class="fa fa-plus"> 添加供应商</i></a>
						</td>
					</tr>
					<tr>
 
						<td>1</td>
						<td>蒂娜服饰</td>
						<td>专供女装，欢迎了解</td>
						<td>夏夏</td>
						<td>15274851694</td>
						<td></td>
						<td>是</td>
						<td>
							<a href="w-add-supplier-list.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal" role="button"><i
								 class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
					<tr>
					 
						<td>1</td>
						<td>蒂娜服饰</td>
						<td>专供女装，欢迎了解</td>
						<td>夏夏</td>
						<td>15274851694</td>
						<td></td>
						<td>是</td>
						<td>
							<a href="w-add-supplier-list.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal" role="button"><i
								 class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
					<tr>
					 
						<td>1</td>
						<td>蒂娜服饰</td>
						<td>专供女装，欢迎了解</td>
						<td>夏夏</td>
						<td>15274851694</td>
						<td></td>
						<td>是</td>
						<td>
							<a href="w-add-supplier-list.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal" role="button"><i
								 class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
					<tr>
					 
						<td>1</td>
						<td>蒂娜服饰</td>
						<td>专供女装，欢迎了解</td>
						<td>夏夏</td>
						<td>15274851694</td>
						<td></td>
						<td>是</td>
						<td>
							<a href="w-add-supplier-list.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal" role="button"><i
								 class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">上一页</a>
				</li>
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">下一页</a>
				</li>
			</ul>
			<!-- 模态框 -->
			<div class="modal fade " id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true"
			 style="padding-right: 16px; display: none;"aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">确认删除</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>确认要删除吗</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
						</div>
					</div>
					<!-- /.modal-content-->
				</div>
				<!-- /.modal-dialog-->
			</div>
		</div>
	</div>
</div>