<div class="animated fadeIn">
	<div class="row">
		<div class="col-1">
			<a class="btn  btn-primary " style="margin-bottom: 15px ;border-radius:50%;" role="button" href="wroleManage.html"
			 data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-arrow-left"></i></a>
		</div>
		<div class="col-8">
			管理员 - 编辑角色 <small class="text-muted"> 网站系统角色管理 </small>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			<strong>添加角色</strong></div>
		<div class="card-body">
			<form class="form-horizontal" action="" method="post">
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="name"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i>
						角色名称 </label>
					<div class="col-md-6">
						<input class="form-control" id="name" type="text" name="name" placeholder="" autocomplete="email">
					</div>
				</div>
				<hr>
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="name"> 角色描述 </label>
					<div class="col-md-6">
						<textarea class="form-control" rows="6"></textarea>
					</div>
				</div>
				<hr>
				<!-- 复选框 -->
				<div class="form-group row">
					<label class="col-md-2 col-form-label offset-1 text-right" for="name">内容管理 </label>
					<div class="col-md-9 col-form-label">
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">广告管理 </label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">广告列表 </label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">广告位 </label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">专题管理 </label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">友情链接</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">文章管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">运费模板</label>
						</div>
					</div>
					<label class="col-md-2 col-form-label offset-1 text-right" for="name">系统设置 </label>
					<div class="col-md-9 col-form-label">
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">网站设置</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">权限资源</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">前台导航</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">管理员管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">角色管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">供应商管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">修改订单</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">模板管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">操作日志</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">自提点管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">刷新缓存</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">修改管理员密码</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">基础功能</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">短信模板</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">自定义手机模板</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">手机模板装修</label>
						</div>
					</div>
					<label class="col-md-2 col-form-label offset-1 text-right" for="name">会员中心 </label>
					<div class="col-md-9 col-form-label">
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">会员资金</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">会员管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">会员等级</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">提现申请</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">会员签到</label>
						</div>
					</div>
					<label class="col-md-2 col-form-label offset-1 text-right" for="name">商品中心 </label>
					<div class="col-md-9 col-form-label">
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">商品类型</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">商品编辑</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">商品列表</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">商品规格 </label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">商品分类</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">商品属性</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">商品品牌</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">评论咨询</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">淘宝导入</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">库存日志</label>
						</div>
					</div>
					<label class="col-md-2 col-form-label offset-1 text-right" for="name">营销推广 </label>
					<div class="col-md-9 col-form-label">
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">团购管理</label>
						</div>

						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">限时抢购</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">促销管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">公众号设置</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">优惠券</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">分销管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">预售</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">拼团</label>
						</div>
					</div>
					<label class="col-md-2 col-form-label offset-1 text-right" for="name">订单中心 </label>
					<div class="col-md-9 col-form-label">

						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">订单列表</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">订单发货</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">退换货处理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">拆分订单</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">添加订单</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">处理订单</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">导出订单</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">打印订单</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">发票管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">虚拟订单</label>
						</div>
					</div>

					<label class="col-md-2 col-form-label offset-1 text-right" for="name">插件工具 </label>
					<div class="col-md-9 col-form-label">
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
							<label class="form-check-label pr-5" for="inline-checkbox1">插件列表</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox2" type="checkbox" value="check2">
							<label class="form-check-label pr-5" for="inline-checkbox2">打印设置</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">数据备份</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">数据还原</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">地区管理</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">文本回复</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">微信功能</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">图文回复</label>
						</div>
						<div class="form-check form-check-inline mr-1">
							<input class="form-check-input" id="inline-checkbox3" type="checkbox" value="check3">
							<label class="form-check-label pr-5" for="inline-checkbox3">应用管理</label>
						</div>
					</div>

				</div>
			</form>
		</div>
		<div class="card-footer ">
			<div class="offset-3">
				<a class="btn  btn-primary" role="button" href="wroleManage.html" data-toggle="ajaxLoad" data-target="#ui-view">确认提交</a>
			</div>
		</div>
	</div>
</div>
