<div class="animated fadeIn">
	<h4>管理员管理 <small class="text-muted"> 网站系统管理员列表 </small></h4>
	<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> 权限资源列表</div>
		<div class="card-body">
			<table class="table table-responsive-sm table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>用户名</th>
						<th>所属角色</th>
						<th>Email地址</th>
						<th>加入时间</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="5">
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="waddAdminManage.html"><i
								 class="fa fa-plus"> 添加管理员</i></a>
						</td>
					</tr>
					<tr>
						<td>1</td>
						<td>admin</td>
						<td>超级管理员</td>
						<td> </td>
						<td>
							2019-05-15 09:37:18
						</td>
					</tr>
					<tr>
						<td>21</td>
						<td>12</td>
						<td>超级管理员</td>
						<td>15971843429@163.com</td>
						<td>
							2019-07-08 15:59:37
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">上一页</a>
				</li>
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">下一页</a>
				</li>
			</ul>
		</div>
	</div>
</div>
