<script src="js/zhang.js" type="text/javascript" charset="utf-8"></script>

<div class="container" style="background-color: #FFFFFF;">
	<div style="display: inline-block;">
		<h5 style="font-size: 16px; padding: 6px 0;margin: 3px 0 0 0;width: 530px;display: inline-block;">品牌列表<small class="text-muted"
			 style="margin-left: 10px;">网站系统文章索引与管理</small>
		</h5>
	</div>
	<div style="border-radius: 5px;background-color: #EBF8FB;width: 100%;height: 85px;">
		<div id="Operation-Tips" style="padding: 5px 15px;margin-bottom: 8px;cursor: pointer;">
			<i class="fa fa-lightbulb-o" style="cursor: pointer;"></i>
			<h5 style="font-size: 14px;margin: 0;display: inline-block;color: #0ba4da;cursor: pointer;" title="提示相关设置操作时应注意的要求">提示操作</h5>
		</div>
		<ul style="list-style:none;padding-left: 20px;margin-bottom: 0;">
			<li style="font-size: 12px;margin-bottom: 4px;color: #748A8F;">同一个品牌可以添加多次</li>
			<li style="font-size: 12px;margin-bottom: 4px;color: #748A8F;">比如卖笔记本下面一个苹果品牌. 卖手机下面也有苹果牌,卖箱包下面也有苹果牌</li>
		</ul>
	</div>
	<div class="row" style="padding-bottom: 8px;">
		<div class="col-4" style="margin-top: 10px;display: inline-block;">
			<h5 style="font-size: 16px;display: inline-block;margin: 0 10px 0 0;bottom: 0;">品牌列表
				<small class="text-muted" style="margin-left: 5px;">(共15条记录) </small>
			</h5>
			<a href="" style="color: #999999;">
				<div style="display: inline-block;padding: 3px 0;">
					<i class="fa fa-refresh"></i>
				</div>
			</a>
		</div>
		<div class="col-6"></div>
		<div class="col-2" style="margin-top: 10px;display: inline-block;height: 30px;">
			<div class="input-group mb-3" style="margin: 0;">
				<input type="text" class="form-control" id="date" aria-describedby="basic-addon2" style="width: 80px;height: 25px;"
				 placeholder="搜索词">
				<div class="input-group-append" style="display: inline-block;">
					<span class="input-group-text" id="basic-addon2" style="width: 50px;height: 25px;">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">搜索</font>
						</font>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div>
		<!-- ************************************** -->
		<div style="width: 100%;">

			<table class="table table-responsive-sm table-sm" style="margin: 0;background-color: #F5F5F5;">
				<thead>
					<tr>
						<th style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</th>
						<th style="text-align: center;width: 62px;">
							品牌ID
						</th>
						<th style="text-align: center;width: 150px;">
							品牌名称
						</th>
						<th style="text-align: center;width: 186px;">
							Logo
						</th>
						<th style="text-align: center;width: 180px;">
							品牌分类
						</th>
						<th style="text-align: center;">
							是否推荐
						</th>
						<th style="text-align: center;width: 110px;">
							排序
						</th>
						<th style="text-align: center;width: 138px;">
							操作
						</th>
					</tr>
				</thead>
			</table>
			
		</div>
		<!-- ************************************** -->
		<div style="padding: 5px 0;">
			<div style="display: inline-block;padding-left: 15px;width: 105px;border-right: 1px dotted #D7D7D7;">
				<a href="z-add-brand.html" style="text-decoration:none;height: 49px;" data-toggle="ajaxLoad" data-target="#ui-view">
					<div style="width: 88px;">
						<button class="btn btn-outline-primary" style="width: 80px;height: 26px;padding: 1px 0 0 0;">
							<span style="font-size: 12px;display: block; ">
								<i class="fa fa-plus"></i> 新增品牌
							</span>
						</button>
					</div>
				</a>
			</div>
			<div style="display: inline-block;padding-left: 5px;">
				<a style="text-decoration:none;height: 49px;" data-toggle="ajaxLoad" data-target="#ui-view">
					<div style="width: 88px;">
						<button class="btn btn-outline-primary" style="width: 60px;height: 26px;padding: 1px 0 0 0;">
							<span style="font-size: 12px;display: block; ">
								批量删除
							</span>
						</button>
					</div>
				</a>
			</div>
		</div>
		<!-- ************************************** -->
		<div>
			<table class="table table-responsive-sm table-sm">
				<tbody>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td style="text-align: center;width: 43px;">
							<i class="fa fa-star-o"></i>
						</td>
						<td style="text-align: center;width: 62px;">
							14
						</td>
						<td style="text-align: center;width: 150px;">
							卡西欧
						</td>
						<td style="text-align: center;width: 186px;">
							<img style="width:40px;height:30px;" src="img/logo/casio.png" >
						</td>
						<td style="text-align: center;width: 180px;">
							鞋类
						</td>
						<td style="padding: 0 15px;">
							<label class="switch switch-label switch-pill switch-outline-success-alt" style="margin: 5px 0;">
								<input class="switch-input" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td style="text-align: center;width: 110px;">
							<input style="width:80px;" value="12" />
						</td>
						<td style="text-align: center;width: 138px;">
							<a href="z-edit-brand.html" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-pencil-square-o"></i>编辑
							</a>
							<a href="" data-id="9" class="btn red delete_type" style="padding: 0 6px;"><i class="fa fa-trash-o"></i>删除</a>
						</td>
					</tr>
					
					
				</tbody>
			</table>
			
		</div>
		<!-- ************************************** -->
		<div class="row">
			<div class="col-4 offset-4">
				<ul class="pagination">
					<li class="page-item active">
						<a class="page-link" href="#">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">1</font>
							</font>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">2</font>
							</font>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">下一个</font>
							</font>
						</a>
					</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
