<script src="js/zhang.js" type="text/javascript" charset="utf-8"></script>

<div class="container" style="background-color: #FFFFFF;">
	<div style="display: inline-block;">
		<h5 style="font-size: 16px; padding: 6px 0;margin: 3px 0 0 0;width: 530px;display: inline-block;">评价管理<small class="text-muted"
			 style="margin-left: 10px;">商品交易评价管理</small>
		</h5>
	</div>
	<div style="border-radius: 5px;background-color: #EBF8FB;width: 100%;height: 60px;">
		<div id="Operation-Tips" style="padding: 5px 15px;margin-bottom: 8px;cursor: pointer;">
			<i class="fa fa-lightbulb-o" style="cursor: pointer;"></i>
			<h5 style="font-size: 14px;margin: 0;display: inline-block;color: #0ba4da;cursor: pointer;" title="提示相关设置操作时应注意的要求">提示操作</h5>
		</div>
		<ul style="list-style:none;padding-left: 20px;margin-bottom: 0;">
			<li style="font-size: 12px;margin-bottom: 4px;color: #748A8F;">用户可以在商品详情页下方咨询商品,信息将显示在对应的商品页面</li>
		</ul>
	</div>

	<div class="wrapper" style="margin-top: 20px;border: 1px solid #DDDDDD;border-radius: 5px;">
		<!-- Main content -->
		<section class="content">
					<div class="container" style="background-color: #F5F5F5; padding: 10px 15px;">
						<h5 class="panel-title">
							<i class="fa fa-list"></i> 咨询回复
							<a class="btn btn-default pull-right" style="margin-top:-8px;" href="z-commodity-consult.html" data-toggle="ajaxLoad" data-target="#ui-view">
								<i class="fa fa-reply"></i>
							</a>
						</h5>
					</div>
					<div class="panel-body container">
						<div>
							<div>
								<div class="box direct-chat direct-chat-primary">
									<div class="box-header with-border">
										<h6 class="box-title" style="padding: 10px 15px;border-bottom: 1px solid #DDDDDD;"><strong style="font-size:16px;">用户评论</strong></h6>	
									</div>
									<div class="box-body">
										<div>
											<div class="direct-chat-msg container" style="margin-bottom: 10px;">
												<div class="direct-chat-info clearfix">
													<span class="direct-chat-name pull-left">小桐桐</span>
													<span class="direct-chat-timestamp pull-right">2018-04-27 17:52</span>
												</div>
												<div class="row">
													<div class="col-1">
														<img src="img/avatars/1.jpg" style="width: 50px; height: 50px;border-radius: 50px;margin-right: 20px;">
													</div>
													<div class="col-11" style="display: inline-block;background-color: #D2D6DE;border-radius: 5px;padding: 5px 5px;width: 500px;">小聪聪穿女装</div>
												</div>
											</div>
										</div>
									</div>
									<div class="box-body">
										<div class="">
											<div class="direct-chat-msg container" style="margin-bottom: 10px;">
												<div class="direct-chat-info clearfix">
													<span class="direct-chat-timestamp pull-left">2018-04-27 17:52</span>
													<span class="direct-chat-name pull-right">小聪聪</span>
												</div>
												<div class="row">
													<div class="col-11" style="display: inline-block;background-color: #D2D6DE;border-radius: 5px;padding: 5px 5px;width: 500px;">来了老哥</div>
													<div class="col-1">
														<img src="img/avatars/1.jpg" style="width: 50px; height: 50px;border-radius: 50px;margin-right: 20px;">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-body">
										<form method="post">
											<textarea class="form-control" rows="3" placeholder="请输入回复内容" name="content"></textarea>
											<div class="form-group" style="height: 43px;margin-top: 10px;"><button type="submit" class="btn btn-primary pull-right margin">回复</button></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
		</section>
	</div>
</div>
