<script src="js/zhang.js" type="text/javascript" charset="utf-8"></script>

<div class="container" style="background-color: #FFFFFF;">
	<div style="display: inline-block;">
		<h5 style="font-size: 16px; padding: 6px 0;margin: 3px 0 0 0;display: inline-block;">已付款并取消单列表
		</h5>
		<ul class="nav nav-tabs list-inline" style="display: inline-block; margin-left: 20px;">
			<li class="nav-item list-inline-item">
				<a class="nav-link active" data-toggle="tab" href="#tab-1">全部</a>
			</li>
			<li class="nav-item list-inline-item">
				<a class="nav-link" data-toggle="tab" href="#tab-2">拼团退货单</a>
			</li>
		</ul>
		
	</div>
	<div class="tab-content" style="border: 0;">
		<div id="tab-1" class="tab-pane active" style="padding: 0;">
			<div style="background-color: #FFFFFF;">
				<div style="border-radius: 5px;background-color: #EBF8FB;width: 100%;height: 85px;">
					<div id="Operation-Tips" style="padding: 5px 15px;margin-bottom: 8px;cursor: pointer;">
						<i class="fa fa-lightbulb-o" style="cursor: pointer;"></i>
						<h5 style="font-size: 14px;margin: 0;display: inline-block;color: #0ba4da;cursor: pointer;" title="提示相关设置操作时应注意的要求">提示操作</h5>
					</div>
					<ul style="list-style:none;padding-left: 20px;margin-bottom: 0;">
						<li style="font-size: 12px;margin-bottom: 4px;">未发货时用户操作取消的订单</li>
						<li style="font-size: 12px;margin-bottom: 4px;">已付款并取消订单列表</li>
					</ul>
				</div>
				<div style="margin-bottom: 5px;display: inline-block;">
					<h5 style="font-size: 16px; padding: 6px 0;margin: 3px 0 0 0;display: inline-block;">取消退款单列表
						<small class="text-muted">(共40条记录)</small>
					</h5>
					<a href="" style="color: #999999;">
						<div style="margin-left: 20px;display: inline-block;padding: 3px 0;">
							<i class="fa fa-refresh"></i>
						</div>
					</a>
				</div>
				<input style="height: 25px;margin-left: 220px;" placeholder="收货人"/>
				<input style="height: 25px;" placeholder="订单编号"/>
				<div style="display: inline-block;height: 30px;">
					<div class="input-group mb-3" style="margin: 0;">
						<input type="text" class="form-control" aria-describedby="basic-addon2" style="width: 120px;height: 25px;"
						 placeholder="联系电话">
						<div class="input-group-append" style="display: inline-block;">
							<span class="input-group-text" id="basic-addon2" style="width: 50px;height: 25px;">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">搜索</font>
								</font>
							</span>
						</div>
					</div>
				</div>
				<div>
					<div style="margin-top: 10px;">
						<table class="table table-responsive-sm table-sm" style="margin: 0;">
							<thead style="background-color: #F5F5F5;">
								<tr>
									<th style="text-align: center;width: 40px;">
										<i class="fa fa-star-o"></i>
									</th>
									<th style="text-align: center;width: 94px;">
										订单编号
									</th>
									<th style="text-align: center;width: 134px;">
										下单时间
									</th>
									<th style="text-align: center;width: 60px;">
										收货人
									</th>
									<th style="text-align: center;width: 79px;">
										联系电话
									</th>
									<th style="text-align: center;width: 134px;">
										支付时间
									</th>
									<th style="text-align: center;width: 79px;">
										订单总价
									</th>
									<th style="text-align: center;width: 79px;">
										处理状态
									</th>
									<th style="text-align: center;width: 79px;">
										操作
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star-o"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="javascript:;" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								
							
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-4 offset-4">
							<ul class="pagination">
								<li class="page-item active">
									<a class="page-link" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">1</font>
										</font>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">2</font>
										</font>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">3</font>
										</font>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">4</font>
										</font>
									</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">下一个</font>
										</font>
									</a>
								</li>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tab-2" class="tab-pane" style="padding: 0;">
			<div style="background-color: #FFFFFF;">
				<div style="border-radius: 5px;background-color: #EBF8FB;width: 100%;height: 85px;">
					<div id="Operation-Tips" style="padding: 5px 15px;margin-bottom: 8px;cursor: pointer;">
						<i class="fa fa-lightbulb-o" style="cursor: pointer;"></i>
						<h5 style="font-size: 14px;margin: 0;display: inline-block;color: #0ba4da;cursor: pointer;" title="提示相关设置操作时应注意的要求">提示操作</h5>
					</div>
					<ul style="list-style:none;padding-left: 20px;margin-bottom: 0;">
						<li style="font-size: 12px;margin-bottom: 4px;">未发货时用户操作取消的订单</li>
						<li style="font-size: 12px;margin-bottom: 4px;">已付款并取消订单列表</li>
					</ul>
				</div>
				<div style="margin-bottom: 5px;display: inline-block;">
					<h5 style="font-size: 16px; padding: 6px 0;margin: 3px 0 0 0;display: inline-block;">取消退款单列表
						<small class="text-muted">(共5条记录)</small>
					</h5>
					<a href="" style="color: #999999;">
						<div style="margin-left: 20px;display: inline-block;padding: 3px 0;">
							<i class="fa fa-refresh"></i>
						</div>
					</a>
				</div>
				<input style="height: 25px;margin-left: 240px;" placeholder="收货人"/>
				<input style="height: 25px;" placeholder="订单编号"/>
				<div style="display: inline-block;height: 30px;">
					<div class="input-group mb-3" style="margin: 0;">
						<input type="text" class="form-control" aria-describedby="basic-addon2" style="width: 120px;height: 25px;"
						 placeholder="联系电话">
						<div class="input-group-append" style="display: inline-block;">
							<span class="input-group-text" id="basic-addon2" style="width: 50px;height: 25px;">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">搜索</font>
								</font>
							</span>
						</div>
					</div>
				</div>
				<div>
					<div style="margin-top: 10px;">
						<table class="table table-responsive-sm table-sm" style="margin: 0;background-color: #F5F5F5;">
							<thead>
								<tr>
									<th style="text-align: center;width: 40px;">
										<i class="fa fa-star"></i>
									</th>
									<th style="text-align: center;width: 94px;">
										订单编号
									</th>
									<th style="text-align: center;width: 134px;">
										下单时间
									</th>
									<th style="text-align: center;width: 60px;">
										收货人
									</th>
									<th style="text-align: center;width: 79px;">
										联系电话
									</th>
									<th style="text-align: center;width: 134px;">
										支付时间
									</th>
									<th style="text-align: center;width: 79px;">
										订单总价
									</th>
									<th style="text-align: center;width: 79px;">
										处理状态
									</th>
									<th style="text-align: center;width: 79px;">
										操作
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
								<tr>
									<td style="text-align: center;width: 34px;">
										<i class="fa fa-star"></i>
									</td>
									<td style="text-align: center;">
										201804271017075618
									</td>
									<td style="text-align: center;">
										2018-04-27 10:17
									</td>
									<td style="text-align: center;">
										夏夏
									</td>
									<td style="text-align: center;">
										15274851694
									</td>
									<td style="padding: 0 15px;">
										2018-04-27 17:52
									</td>
									<td style="text-align: center;">
										100.00
									</td>
									<td style="text-align: center;">
										待处理
									</td>
									<td style="text-align: center;">
										<a href="" data-id="9" class="btn blue type_info" style="padding: 0 6px;" data-toggle="ajaxLoad" data-target="#ui-view">
											<i class="fa fa-list-alt"></i>查看
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
