<div class="animated fadeIn">
	<h4>清空演示数据  <small class="text-muted"> 清空测试演示数据 </small></h4>
	<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal"
	 role="button"><i class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>点击清空演示数据</a>
	 <!-- 模态框 -->
	 <div class="modal fade " id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true"
	  style="padding-right: 16px; display: none;" aria-hidden="true">
	 	<div class="modal-dialog modal-sm" role="document">
	 		<div class="modal-content">
	 			<div class="modal-header">
	 				<h4 class="modal-title">确认清空</h4>
	 				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
	 					<span aria-hidden="true">×</span>
	 				</button>
	 			</div>
	 			<div class="modal-body">
	 				<p>确认要清空演示数据吗</p>
	 			</div>
	 			<div class="modal-footer">
	 				<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
	 				<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
	 			</div>
	 		</div>
	 		<!-- /.modal-content-->
	 	</div>
	 	<!-- /.modal-dialog-->
	 </div>
</div>