<div class="animated fadeIn">
	<h4>数据备份  <small class="text-muted"> 网站系统数据备份 </small></h4>
	<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> 数据库表列表</div>
		<div class="card-body">
			<table class="table table-responsive-sm table-bordered text-center table-hover table-striped">
				<thead>
					<tr>
						<th ><input class="" id="" type="checkbox" value=""></th>
						<th>数据库表</th>
						<th>记录条数</th>
						<th>占用空间</th>
						<th>编码</th>
						<th>创建时间</th>
						<th>备份状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="8" class="text-left">
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="javaScript:;"><i
								 class=" fa fa-book"> 数据备份</i></a>
						</td>
					</tr>
					<tr>
						<td><input class="" id="" type="checkbox" value=""></td>
						<td>tp_account_log</td>
						<td>416</td>
						<td>64KB</td>
						<td>utf8_general_ci</td>
						<td>2019-07-10 08:55:29</td>
						<td>未备份</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-magic"></i>优化</a>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm"  role="button"><i
								 class="fa fa-wrench" ></i>修复</a>
						</td>
					</tr>
					<tr>
						<td><input class="" id="" type="checkbox" value=""></td>
						<td>tp_account_log</td>
						<td>416</td>
						<td>64KB</td>
						<td>utf8_general_ci</td>
						<td>2019-07-10 08:55:29</td>
						<td>未备份</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-magic"></i>优化</a>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm"  role="button"><i
								 class="fa fa-wrench" ></i>修复</a>
						</td>
					</tr>
					<tr>
						<td><input class="" id="" type="checkbox" value=""></td>
						<td>tp_account_log</td>
						<td>416</td>
						<td>64KB</td>
						<td>utf8_general_ci</td>
						<td>2019-07-10 08:55:29</td>
						<td>未备份</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-magic"></i>优化</a>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm"  role="button"><i
								 class="fa fa-wrench" ></i>修复</a>
						</td>
					</tr>
					<tr>
						<td><input class="" id="" type="checkbox" value=""></td>
						<td>tp_account_log</td>
						<td>416</td>
						<td>64KB</td>
						<td>utf8_general_ci</td>
						<td>2019-07-10 08:55:29</td>
						<td>未备份</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-magic"></i>优化</a>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm"  role="button"><i
								 class="fa fa-wrench" ></i>修复</a>
						</td>
					</tr>
					<tr>
						<td><input class="" id="" type="checkbox" value=""></td>
						<td>tp_account_log</td>
						<td>416</td>
						<td>64KB</td>
						<td>utf8_general_ci</td>
						<td>2019-07-10 08:55:29</td>
						<td>未备份</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-magic"></i>优化</a>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm"  role="button"><i
								 class="fa fa-wrench" ></i>修复</a>
						</td>
					</tr>
					<tr>
						<td><input class="" id="" type="checkbox" value=""></td>
						<td>tp_account_log</td>
						<td>416</td>
						<td>64KB</td>
						<td>utf8_general_ci</td>
						<td>2019-07-10 08:55:29</td>
						<td>未备份</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button"><i
								 class="fa fa-magic"></i>优化</a>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm"  role="button"><i
								 class="fa fa-wrench" ></i>修复</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">上一页</a>
				</li>
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">下一页</a>
				</li>
			</ul>
			<!-- 模态框 -->
			<div class="modal fade " id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true"
			 style="padding-right: 16px; display: none;"aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">确认删除</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>确认要删除吗</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
						</div>
					</div>
					<!-- /.modal-content-->
				</div>
				<!-- /.modal-dialog-->
			</div>
		</div>
	</div>
</div>