<div class="animated  fadeIn">
	<h4>商品管理 <small class="text-muted"> 商城所有商品索引及管理</small></h4>
	<hr>
	<div class="card">
		<div class="card-header">
			<div class="row ">
				<div class="col-1">
					<i class="fa fa-align-justify"></i> 商品列表
				</div>
				<div class="controls col-6 offset-5 ">
					<div class="input-group ">
						<select class="form-control form-control-sm col-2" id="select3" name="select2">
							<option value="">所有分类</option>
							<option value="108"> 0-2岁</option>
							<option value="127"> 4G/3G上网</option>
							<option value="354"> 4K超清电视</option>
							<option value="356"> 55英寸</option>
							<option value="357"> 65英寸</option>
							<option value="341"> A 安装服务</option>
							<option value="430"> B 保健酒</option>
							<option value="230"> B 保暖内衣</option>
							<option value="269"> B 保温杯</option>
							<option value="270"> B 保鲜盒</option>
							<option value="378"> B 冰箱</option>
							<option value="383"> B 冰箱配件</option>
							<option value="309"> B 办公家具</option>
							<option value="142"> B 办公文具</option>
							<option value="43"> B 办公设备</option>
							<option value="71"> B 办套餐</option>
							<option value="183"> B 半身裙</option>
							<option value="348"> B 变频空调</option>
							<option value="343"> B 壁挂试空调</option>
							<option value="327"> B 壁纸</option>
							<option value="579"> B 布帆鞋</option>
							<option value="447"> B 布鞋/绣花鞋</option>
							<option value="280"> B 抱枕靠垫</option>
							<option value="240"> B 棒球帽</option>
							<option value="374"> B 波轮洗衣机</option>
							<option value="515"> B 版画</option>
							<option value="425"> B 白酒</option>
							<option value="399"> B 百香果</option>
							<option value="91"> B 笔记本</option>
							<option value="283"> B 被套</option>
							<option value="272"> B 被子</option>
							<option value="491"> B 铂金</option>
							<option value="405"> B 饼干蛋糕</option>
							<option value="148"> C CPU</option>
							<option value="135"> C 传真设备</option>
							<option value="90"> C 储存卡</option>
							<option value="307"> C 储物家具</option>
							<option value="79"> C 充电宝</option>
							<option value="72"> C 充话费/流量</option>
							<option value="441"> C 冲调品</option>
							<option value="521"> C 创意礼品</option>
							<option value="45"> C 厨具</option>
							<option value="51"> C 厨房卫浴</option>
							<option value="384"> C 厨房小电</option>
							<option value="264"> C 厨房配件</option>
							<option value="310"> C 床</option>
							<option value="282"> C 床单</option>
							<option value="271"> C 床品套件</option>
							<option value="278"> C 床垫</option>
							<option value="311"> C 床垫</option>
							<option value="158"> C 插座</option>
							<option value="7"> C 春季新品</option>
							<option value="395"> C 橙子</option>
							<option value="338"> C 橱柜</option>
							<option value="58"> C 潮流女包</option>
							<option value="324"> C 瓷砖</option>
							<option value="281"> C 窗帘/窗纱</option>
							<option value="268"> C 茶具/咖啡具</option>
							<option value="410"> C 葱姜蒜</option>
							<option value="17"> C 衬衫</option>
							<option value="201"> C 衬衫</option>
							<option value="251"> C 衬衫</option>
							<option value="146"> C 财会用品</option>
							<option value="352"> C 超薄电视</option>
							<option value="368"> C 除湿器</option>
							<option value="562"> C 除草剂</option>
							<option value="263"> C 餐具</option>
							<option value="304"> C 餐厅家具</option>
							<option value="316"> C 餐桌</option>
							<option value="498"> D DW</option>
							<option value="265"> D 刀剪菜板</option>
							<option value="82"> D 单反相机</option>
							<option value="468"> D 单肩/斜跨包</option>
							<option value="458"> D 单肩包</option>
							<option value="444"> D 单鞋</option>
							<option value="195"> D 吊带/背心</option>
							<option value="292"> D 吊灯</option>
							<option value="325"> D 地板</option>
							<option value="277"> D 地毯地垫</option>
							<option value="413"> D 地瓜/红薯</option>
							<option value="133"> D 多功能一体机</option>
							<option value="544"> D 多肉植物</option>
							<option value="379"> D 多门</option>
							<option value="553"> D 大田作物类</option>
							<option value="380"> D 对开门</option>
							<option value="65"> D 对讲机</option>
							<option value="24"> D 当季热卖</option>
							<option value="572"> D 当季热卖</option>
							<option value="134"> D 打印机</option>
							<option value="190"> D 打底衫</option>
							<option value="191"> D 打底裤</option>
							<option value="226"> D 打底裤袜</option>
							<option value="48"> D 灯具</option>
							<option value="179"> D 点读机</option>
							<option value="387"> D 电压力锅</option>
							<option value="52"> D 电器</option>
							<option value="177"> D 电子教育</option>
							<option value="522"> D 电子礼品</option>
							<option value="181"> D 电子词典</option>
							<option value="391"> D 电水壶</option>
							<option value="167"> D 电池/充电器</option>
							<option value="154"> D 电源</option>
							<option value="284"> D 电热垫</option>
							<option value="37"> D 电脑</option>
							<option value="478"> D 电脑包</option>
							<option value="156"> D 电脑工具</option>
							<option value="38"> D 电脑整机</option>
							<option value="317"> D 电脑桌</option>
							<option value="313"> D 电脑椅</option>
							<option value="157"> D 电脑清洁</option>
							<option value="39"> D 电脑配件</option>
							<option value="109"> D 电视</option>
							<option value="315"> D 电视柜</option>
							<option value="358"> D 电视配件</option>
							<option value="365"> D 电话机</option>
							<option value="361"> D 电风扇</option>
							<option value="386"> D 电饭煲</option>
							<option value="481"> D 登山包</option>
							<option value="19"> D 短外套</option>
							<option value="184"> D 短裤</option>
							<option value="202"> D 短裤</option>
							<option value="408"> D 蛋品</option>
							<option value="165"> D 读卡器</option>
							<option value="389"> D 豆浆机</option>
							<option value="518"> D 雕塑</option>
							<option value="306"> E 儿童家具</option>
							<option value="320"> E 儿童床</option>
							<option value="507"> E 儿童手表</option>
							<option value="319"> E 儿童桌椅</option>
							<option value="169"> E 耳机/耳麦</option>
							<option value="261"> E 耳罩/耳包</option>
							<option value="493"> F 发饰</option>
							<option value="566"> F 复合肥</option>
							<option value="182"> F 复读机</option>
							<option value="446"> F 帆布鞋</option>
							<option value="438"> F 方便食品</option>
							<option value="12"> F 服饰</option>
							<option value="297"> F 氛围照明</option>
							<option value="289"> F 缝纫/针织用品</option>
							<option value="564"> F 肥料</option>
							<option value="454"> F 防水台</option>
							<option value="235"> F 防辐射眼镜</option>
							<option value="22"> F 风衣</option>
							<option value="209"> F 风衣</option>
							<option value="473"> G 功能箱包</option>
							<option value="528"> G 古董文玩</option>
							<option value="70"> G 固定宽带</option>
							<option value="400"> G 国产水果</option>
							<option value="504"> G 国表</option>
							<option value="523"> G 工艺礼品</option>
							<option value="215"> G 工装</option>
							<option value="364"> G 干衣机</option>
							<option value="510"> G 挂钟</option>
							<option value="344"> G 柜试空调</option>
							<option value="372"> G 滚筒洗衣机</option>
							<option value="552"> G 瓜果类</option>
							<option value="415"> G 瓜类</option>
							<option value="266"> G 锅具套装</option>
							<option value="450"> G 高跟鞋</option>
							<option value="353"> H HDR电视</option>
							<option value="462"> H 化妆包</option>
							<option value="68"> H 合约机</option>
							<option value="525"> H 婚庆节庆</option>
							<option value="194"> H 婚纱</option>
							<option value="61"> H 户外</option>
							<option value="252"> H 户外/运动服</option>
							<option value="88"> H 户外器材</option>
							<option value="115"> H 户外装备</option>
							<option value="114"> H 户外风衣</option>
							<option value="397"> H 火龙果</option>
							<option value="376"> H 烘干机</option>
							<option value="545"> H 花卉</option>
							<option value="549"> H 花盆花器</option>
							<option value="550"> H 花草林木类</option>
							<option value="432"> H 黄酒</option>
							<option value="486"> H 黄金</option>
							<option value="123"> J 交换机</option>
							<option value="287"> J 净化除味</option>
							<option value="367"> J 净水器</option>
							<option value="369"> J 加湿器</option>
							<option value="29"> J 加绒裤</option>
							<option value="403"> J 坚果炒货</option>
							<option value="205"> J 夹克</option>
							<option value="49"> J 家具</option>
							<option value="30"> J 家居</option>
							<option value="46"> J 家纺</option>
							<option value="50"> J 家装主材</option>
							<option value="337"> J 局部装修</option>
							<option value="112"> J 教育</option>
							<option value="153"> J 机箱</option>
							<option value="164"> J 机身附件</option>
							<option value="465"> J 精品男包</option>
							<option value="513"> J 精美礼品</option>
							<option value="119"> J 精选肉类</option>
							<option value="300"> J 节能灯</option>
							<option value="346"> J 节能空调</option>
							<option value="580"> J 解放鞋</option>
							<option value="145"> J 计算器</option>
							<option value="401"> J 进口水果</option>
							<option value="433"> J 进口食品</option>
							<option value="100"> J 键盘</option>
							<option value="87"> J 镜头</option>
							<option value="424"> J 鸡翅</option>
							<option value="419"> J 鸡肉</option>
							<option value="487"> K K金</option>
							<option value="500"> K 卡西欧</option>
							<option value="540"> K 卡通花束</option>
							<option value="260"> K 口罩</option>
							<option value="388"> K 咖啡机</option>
							<option value="437"> K 咖啡粉</option>
							<option value="303"> K 客厅家具</option>
							<option value="113"> K 科技</option>
							<option value="360"> K 空气净化器</option>
							<option value="342"> K 空调</option>
							<option value="350"> K 空调配件</option>
							<option value="248"> K 裤子</option>
							<option value="296"> L LED灯</option>
							<option value="382"> L 冷柜/冰吧</option>
							<option value="370"> L 冷风扇</option>
							<option value="421"> L 冷鲜肉</option>
							<option value="275"> L 凉席</option>
							<option value="452"> L 凉鞋</option>
							<option value="576"> L 凉鞋</option>
							<option value="334"> L 垃圾处理器</option>
							<option value="180"> L 录音笔</option>
							<option value="477"> L 拉杆箱</option>
							<option value="390"> L 料理机</option>
							<option value="474"> L 旅行箱</option>
							<option value="476"> L 旅行袋</option>
							<option value="484"> L 旅行配件</option>
							<option value="321"> L 晾衣架</option>
							<option value="394"> L 梨</option>
							<option value="398"> L 榴莲</option>
							<option value="499"> L 浪琴</option>
							<option value="161"> L 滤器</option>
							<option value="527"> L 礼品定制</option>
							<option value="530"> L 礼品文具</option>
							<option value="193"> L 礼服</option>
							<option value="256"> L 礼服/演出服</option>
							<option value="526"> L 礼盒礼券</option>
							<option value="533"> L 绿植园艺</option>
							<option value="543"> L 绿植盘栽</option>
							<option value="63"> L 老人手机</option>
							<option value="236"> L 老花镜</option>
							<option value="298"> L 落地灯</option>
							<option value="121"> L 路由器</option>
							<option value="15"> L 连衣裙</option>
							<option value="435"> L 零食</option>
							<option value="238"> L 领带/领结</option>
							<option value="330"> L 龙头</option>
							<option value="175"> M MP3/MP4</option>
							<option value="139"> M 墨盒</option>
							<option value="483"> M 妈咪包</option>
							<option value="577"> M 棉拖鞋</option>
							<option value="204"> M 棉服</option>
							<option value="258"> M 棉服</option>
							<option value="537"> M 每周一花</option>
							<option value="196"> M 毛尼大衣</option>
							<option value="207"> M 毛尼大衣</option>
							<option value="276"> M 毛巾浴巾</option>
							<option value="239"> M 毛线帽</option>
							<option value="245"> M 毛线手套</option>
							<option value="250"> M 毛衣/针织衫</option>
							<option value="524"> M 美妆礼品</option>
							<option value="225"> M 美腿袜</option>
							<option value="542"> M 苗木</option>
							<option value="375"> M 迷你洗衣机</option>
							<option value="339"> M 门窗</option>
							<option value="449"> M 马丁靴</option>
							<option value="331"> M 马桶</option>
							<option value="192"> M 马甲</option>
							<option value="210"> M 马甲/背心</option>
							<option value="174"> M 麦克风</option>
							<option value="453"> N 内增高</option>
							<option value="152"> N 内存</option>
							<option value="26"> N 内衣</option>
							<option value="259"> N 内衣裤</option>
							<option value="227"> N 内衣配件</option>
							<option value="556"> N 农缩料</option>
							<option value="559"> N 农药</option>
							<option value="220"> N 女士内裤</option>
							<option value="232"> N 女士围巾/披肩</option>
							<option value="243"> N 女士腰带</option>
							<option value="457"> N 女士钱包</option>
							<option value="5"> N 女装</option>
							<option value="6"> N 女装</option>
							<option value="13"> N 女装</option>
							<option value="448"> N 女靴</option>
							<option value="187"> N 牛仔裤</option>
							<option value="199"> N 牛仔裤</option>
							<option value="434"> N 牛奶</option>
							<option value="423"> N 牛排</option>
							<option value="578"> N 牛皮鞋</option>
							<option value="417"> N 牛肉</option>
							<option value="233"> N 男士丝巾/围巾</option>
							<option value="219"> N 男士内裤</option>
							<option value="470"> N 男士手包</option>
							<option value="242"> N 男士腰带</option>
							<option value="466"> N 男士钱包</option>
							<option value="570"> N 男士鞋子</option>
							<option value="8"> N 男装</option>
							<option value="11"> N 男装</option>
							<option value="23"> N 男装</option>
							<option value="509"> N 闹钟</option>
							<option value="506"> O 欧美表</option>
							<option value="574"> P 品牌鞋</option>
							<option value="428"> P 啤酒</option>
							<option value="93"> P 平板电脑</option>
							<option value="392"> P 苹果</option>
							<option value="426"> P 葡萄酒</option>
							<option value="431"> P 配制酒</option>
							<option value="27"> P 配饰</option>
							<option value="255"> Q 亲子装</option>
							<option value="557"> Q 全价料</option>
							<option value="336"> Q 全包装修</option>
							<option value="396"> Q 奇异果</option>
							<option value="222"> Q 情侣睡衣</option>
							<option value="231"> Q 情趣内衣</option>
							<option value="185"> Q 旗袍</option>
							<option value="351"> Q 曲面电视</option>
							<option value="290"> Q 清洁工具</option>
							<option value="229"> Q 秋衣秋裤</option>
							<option value="254"> Q 裙子</option>
							<option value="355"> R 人工智能电视</option>
							<option value="505"> R 日韩表</option>
							<option value="503"> R 瑞表</option>
							<option value="406"> R 肉干</option>
							<option value="160"> S 三角架/云台</option>
							<option value="480"> S 书包</option>
							<option value="305"> S 书房家具</option>
							<option value="517"> S 书法</option>
							<option value="464"> S 双肩包</option>
							<option value="467"> S 双肩包</option>
							<option value="381"> S 双门</option>
							<option value="469"> S 商务公文包</option>
							<option value="224"> S 商务男袜</option>
							<option value="107"> S 少儿</option>
							<option value="223"> S 少女文胸</option>
							<option value="412"> S 山药</option>
							<option value="102"> S 手写板</option>
							<option value="460"> S 手提包</option>
							<option value="31"> S 手机</option>
							<option value="62"> S 手机</option>
							<option value="77"> S 手机储存卡</option>
							<option value="75"> S 手机壳</option>
							<option value="67"> S 手机维修</option>
							<option value="80"> S 手机耳机</option>
							<option value="32"> S 手机通讯</option>
							<option value="34"> S 手机配件</option>
							<option value="130"> S 手柄/方向盘</option>
							<option value="362"> S 扫地机器人</option>
							<option value="85"> S 摄像头</option>
							<option value="103"> S 摄像头</option>
							<option value="35"> S 摄影摄像</option>
							<option value="286"> S 收纳用品</option>
							<option value="529"> S 收藏品</option>
							<option value="429"> S 收藏酒/陈年老酒</option>
							<option value="137"> S 收银机</option>
							<option value="173"> S 收音机</option>
							<option value="96"> S 散热器</option>
							<option value="340"> S 散热器</option>
							<option value="78"> S 数据线</option>
							<option value="81"> S 数码相机</option>
							<option value="86"> S 数码相框</option>
							<option value="36"> S 数码配件</option>
							<option value="57"> S 时尚女鞋</option>
							<option value="495"> S 时尚钟表</option>
							<option value="488"> S 时尚饰品</option>
							<option value="561"> S 杀菌剂</option>
							<option value="560"> S 杀虫剂</option>
							<option value="439"> S 水</option>
							<option value="262"> S 水具酒具</option>
							<option value="516"> S 水墨画</option>
							<option value="494"> S 水晶玛瑙</option>
							<option value="328"> S 水槽</option>
							<option value="568"> S 水溶/叶面肥</option>
							<option value="312"> S 沙发</option>
							<option value="407"> S 熟食腊味</option>
							<option value="47"> S 生活日品</option>
							<option value="53"> S 生活电器</option>
							<option value="371"> S 生活电器配件</option>
							<option value="567"> S 生物菌肥</option>
							<option value="218"> S 睡衣/家居服</option>
							<option value="140"> S 色带</option>
							<option value="551"> S 蔬菜/菌类</option>
							<option value="118"> S 蔬菜蛋品</option>
							<option value="214"> S 设计师/潮牌</option>
							<option value="162"> S 闪光灯/手柄</option>
							<option value="55"> S 食品</option>
							<option value="99"> S 鼠标</option>
							<option value="155"> S 鼠标垫</option>
							<option value="16"> T T恤</option>
							<option value="198"> T T恤</option>
							<option value="253"> T T恤</option>
							<option value="293"> T 台灯</option>
							<option value="94"> T 台试机</option>
							<option value="83"> T 图书</option>
							<option value="502"> T 天王</option>
							<option value="234"> T 太阳镜</option>
							<option value="246"> T 套装</option>
							<option value="299"> T 庭院灯</option>
							<option value="131"> T 投像机</option>
							<option value="132"> T 投影配件</option>
							<option value="279"> T 毯子</option>
							<option value="329"> T 涂刷辅料</option>
							<option value="422"> T 特色肉类</option>
							<option value="565"> T 碳/磷/钾肥</option>
							<option value="28"> T 童装</option>
							<option value="294"> T 筒灯射灯</option>
							<option value="440"> T 糖/巧克力</option>
							<option value="404"> T 糖果/巧克力</option>
							<option value="76"> T 贴膜</option>
							<option value="101"> U U盘</option>
							<option value="475"> W 万向轮箱</option>
							<option value="302"> W 卧室家具</option>
							<option value="20"> W 卫衣</option>
							<option value="206"> W 卫衣</option>
							<option value="247"> W 卫衣</option>
							<option value="249"> W 外套/大衣</option>
							<option value="40"> W 外设产品</option>
							<option value="144"> W 文件收纳</option>
							<option value="44"> W 文具耗材</option>
							<option value="110"> W 文学类</option>
							<option value="217"> W 文胸</option>
							<option value="221"> W 文胸套装</option>
							<option value="172"> W 无线音箱</option>
							<option value="125"> W 网卡</option>
							<option value="42"> W 网络产品</option>
							<option value="124"> W 网络存储卡</option>
							<option value="122"> W 网络机顶盒</option>
							<option value="126"> W 网络配件</option>
							<option value="274"> W 蚊帐</option>
							<option value="186"> X 休闲裤</option>
							<option value="200"> X 休闲裤</option>
							<option value="479"> X 休闲运动包</option>
							<option value="117"> X 休闲零食</option>
							<option value="445"> X 休闲鞋</option>
							<option value="575"> X 休闲鞋</option>
							<option value="359"> X 吸尘器</option>
							<option value="291"> X 吸顶灯</option>
							<option value="178"> X 学生平板</option>
							<option value="143"> X 学生文具</option>
							<option value="189"> X 小西装</option>
							<option value="111"> X 小说</option>
							<option value="459"> X 斜跨包</option>
							<option value="14"> X 新品推荐</option>
							<option value="25"> X 新品推荐</option>
							<option value="443"> X 新品推荐</option>
							<option value="571"> X 新品推荐</option>
							<option value="116"> X 新鲜水果</option>
							<option value="150"> X 显卡</option>
							<option value="147"> X 显示器</option>
							<option value="373"> X 洗烘一体机</option>
							<option value="54"> X 洗衣机</option>
							<option value="377"> X 洗衣机配件</option>
							<option value="531"> X 熏香</option>
							<option value="535"> X 畜牧养殖</option>
							<option value="89"> X 相机包</option>
							<option value="482"> X 相机包</option>
							<option value="163"> X 相机清洁</option>
							<option value="138"> X 硒鼓/墨粉</option>
							<option value="159"> X 线缆</option>
							<option value="555"> X 西兽药</option>
							<option value="211"> X 西服</option>
							<option value="208"> X 西服套装</option>
							<option value="212"> X 西裤</option>
							<option value="501"> X 西铁城</option>
							<option value="69"> X 选号码</option>
							<option value="18"> X 雪纺衫</option>
							<option value="318"> X 鞋架/衣帽椅</option>
							<option value="56"> X 鞋类</option>
							<option value="455"> X 鞋配件</option>
							<option value="539"> X 香皂花</option>
							<option value="393"> X 香蕉</option>
							<option value="536"> X 鲜花</option>
							<option value="532"> X 鲜花速递</option>
							<option value="414"> X 鲜菌菇</option>
							<option value="95"> Y 一体机</option>
							<option value="66"> Y 以旧换新</option>
							<option value="349"> Y 以旧换新</option>
							<option value="558"> Y 养殖场专用</option>
							<option value="409"> Y 叶菜类</option>
							<option value="547"> Y 园艺土肥</option>
							<option value="548"> Y 园艺工具</option>
							<option value="301"> Y 应急灯/手电</option>
							<option value="168"> Y 影音娱乐</option>
							<option value="569"> Y 有机肥</option>
							<option value="538"> Y 永生花</option>
							<option value="442"> Y 油</option>
							<option value="326"> Y 油漆涂料</option>
							<option value="385"> Y 油烟机</option>
							<option value="514"> Y 油画</option>
							<option value="228"> Y 泳衣</option>
							<option value="427"> Y 洋酒</option>
							<option value="333"> Y 浴室柜</option>
							<option value="288"> Y 浴室用品</option>
							<option value="129"> Y 游戏周边</option>
							<option value="64"> Y 游戏手机</option>
							<option value="92"> Y 游戏本</option>
							<option value="104"> Y 游戏机</option>
							<option value="105"> Y 游戏耳机</option>
							<option value="41"> Y 游戏设备</option>
							<option value="128"> Y 游戏软件</option>
							<option value="237"> Y 游泳镜</option>
							<option value="411"> Y 玉米</option>
							<option value="151"> Y 硬盘</option>
							<option value="216"> Y 羊毛衫</option>
							<option value="418"> Y 羊肉</option>
							<option value="197"> Y 羽绒服</option>
							<option value="203"> Y 羽绒服</option>
							<option value="257"> Y 羽绒服</option>
							<option value="461"> Y 腰包</option>
							<option value="472"> Y 腰包</option>
							<option value="59"> Y 艺术</option>
							<option value="60"> Y 艺术品</option>
							<option value="519"> Y 艺术画册</option>
							<option value="520"> Y 艺术衍生品</option>
							<option value="402"> Y 营养零食</option>
							<option value="314"> Y 衣柜</option>
							<option value="84"> Y 运动相机</option>
							<option value="451"> Y 运动鞋</option>
							<option value="573"> Y 运动鞋</option>
							<option value="33"> Y 运营商</option>
							<option value="463"> Y 钥匙包</option>
							<option value="471"> Y 钥匙包</option>
							<option value="490"> Y 银饰</option>
							<option value="308"> Y 阳台/户外</option>
							<option value="106"> Y 雨伞雨具</option>
							<option value="170"> Y 音箱/音响</option>
							<option value="436"> Y 饮料</option>
							<option value="366"> Y 饮水机</option>
							<option value="136"> Y 验钞/点钞机</option>
							<option value="420"> Y 鸭肉</option>
							<option value="176"> Z 专业音频</option>
							<option value="554"> Z 中兽药</option>
							<option value="73"> Z 中国移动</option>
							<option value="74"> Z 中国联通</option>
							<option value="120"> Z 中外名酒</option>
							<option value="345"> Z 中央空调</option>
							<option value="188"> Z 中老年女装</option>
							<option value="213"> Z 中老男装</option>
							<option value="149"> Z 主板</option>
							<option value="511"> Z 座钟</option>
							<option value="166"> Z 支架</option>
							<option value="508"> Z 智能手表</option>
							<option value="347"> Z 智能空调</option>
							<option value="171"> Z 智能音箱</option>
							<option value="332"> Z 智能马桶盖</option>
							<option value="273"> Z 枕芯</option>
							<option value="285"> Z 桌布/罩件</option>
							<option value="541"> Z 桌面绿植</option>
							<option value="563"> Z 植物生长调节剂</option>
							<option value="416"> Z 猪肉</option>
							<option value="492"> Z 珍珠</option>
							<option value="485"> Z 珠宝首饰</option>
							<option value="456"> Z 真皮包</option>
							<option value="244"> Z 真皮手套</option>
							<option value="489"> Z 砖石</option>
							<option value="534"> Z 种子</option>
							<option value="546"> Z 种子种球</option>
							<option value="141"> Z 纸类</option>
							<option value="98"> Z 组装电脑</option>
							<option value="363"> Z 蒸汽拖把</option>
							<option value="323"> Z 装修定制</option>
							<option value="335"> Z 装修设计</option>
							<option value="97"> Z 装机配件</option>
							<option value="295"> Z 装饰灯</option>
							<option value="241"> Z 遮阳伞/雨伞</option>
							<option value="21"> Z 针秀衫</option>
							<option value="512"> Z 钟表配件</option>
						</select>
						<select class="form-control form-control-sm col-2" id="select3" name="select3">
							<option value="">所有品牌</option>
							<option value="9">A -- 安踏</option>
							<option value="11">A -- 阿迪达斯</option>
							<option value="7">D -- 戴尔</option>
							<option value="5">H -- 华为手机</option>
							<option value="12">H -- 花花公子</option>
							<option value="14">K -- 卡西欧</option>
							<option value="16">L -- LG</option>
							<option value="13">L -- 浪琴</option>
							<option value="4">L -- 联想</option>
							<option value="15">N -- 耐克</option>
							<option value="1">P -- 苹果</option>
							<option value="8">S -- 三星</option>
							<option value="3">U -- UR</option>
							<option value="2">X -- 小米</option>
							<option value="10">Z -- 卓诗尼</option>
						</select>
						<select class="form-control form-control-sm col-2" id="select3" name="select3">
							<option value="">全部</option>
							<option value="1">上架</option>
							<option value="0">下架</option>
						</select>
						<select class="form-control form-control-sm col-2" id="select3" name="select3">
							<option value="0">全部</option>
							<option value="is_new">新品</option>
							<option value="is_recommend">推荐</option>
						</select>
						<input class="form-control form-control-sm col-3" id="appendedInputButtons" size="4" type="text" placeholder="搜索词...">

						<span class="input-group-append ">
							<button class="btn btn-secondary btn-sm " type="button">搜索</button>
						</span>
					</div>
				</div>

			</div>
		</div>
		<div class="card-body">
			<table class="table table-responsive-sm table-bordered text-center">
				<thead>
					<tr>
						<th>操作</th>
						<th>id</th>
						<th>商品名称</th>
						<th>货号</th>
						<th>分类</th>
						<th>价格</th>
						<th>推荐</th>
						<th>新品</th>
						<th>热卖</th>
						<th>上/下架</th>
						<th>库存</th>
						<th>排序</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="12" class="text-left">
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="wutong/w-add-goods.html"><i
								 class="fa fa-plus"> 添加商品</i></a>
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="javaScript:;"><i
								 class="fa fa-plus"> 初始化商品搜索关键词</i></a>
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="javaScript:;">
								批量删除
							</a>
						</td>
					</tr>

					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<!-- Default dropright button -->
							<div class="btn-group dropright ">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								 aria-expanded="false">
									<i class="fa fa-cog"></i>设置
								</button>
								<div class="dropdown-menu ">
									<a class="dropdown-item" href="#">预览商品</a>
									<a class="dropdown-item " href="#">编辑商品</a>
									<a class="dropdown-item  " href="#">删除商品</a>
									<a class="dropdown-item  " href="#">清除缩略图缓存</a>
								</div>
							</div>
						</td>
						<td>234</td>
						<td>仙人球多肉植物组合</td>
						<td>TP125</td>
						<td>桌面绿植</td>
						<td>12.00</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input small " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-success switch-sm mb-0">
								<input class="switch-input  " type="checkbox">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>198</td>

						<td>
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 25px;" value="1221">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">上一页</a>
				</li>
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">下一页</a>
				</li>
			</ul>
			<!-- 模态框 -->
			<div class="modal fade " id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true"
			 style="padding-right: 16px; display: none;" aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">确认删除</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>确认要删除吗</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
						</div>
					</div>
					<!-- /.modal-content-->
				</div>
				<!-- /.modal-dialog-->
			</div>
		</div>
	</div>
</div>
