<div class="animated fadeIn">
	<h4>模板管理 <small class="text-muted"> 网站系统模板索引与管理 </small></h4>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> 模板列表
				</div>
				<div class="card-body">
					<ul class="nav nav-tabs" id="myTab1" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
							 aria-selected="true">PC端模板</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
							 aria-selected="false">手机端模板</a>
						</li>
					</ul>
					<div class="tab-content" id="myTab1Content">
						<div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
							<div class="card-body">
								<table class="table table-responsive-sm table-bordered text-center table-hover ">
									<thead>
										<tr>
											<th>模板名称</th>
											<th>模板备注</th>
											<th>模板图片</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>彩虹模板</td>
											<td>www.tp-shop.cn</td>
											<td><i class="fa fa-photo "></i></td>
											<td>
												<a href="waddroleManage.html" class="btn  btn-success btn-sm" data-toggle="modal" data-target="#smallModal"
												 role="button"><i class="fa fa-check"></i>启用</a>
											</td>
										</tr>
										
									</tbody>
								</table>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#">上一页</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">下一页</a>
									</li>
								</ul>

							</div>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<div class="card-body">
								<table class="table table-responsive-sm table-bordered text-center table-hover ">
									<thead>
										<tr>
											<th>模板名称</th>
											<th>模板备注</th>
											<th>模板图片</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>彩虹模板</td>
											<td>第2套手机模板</td>
											<td><i class="fa fa-photo "></i></td>
											<td>
												<a href="waddroleManage.html" class="btn  btn-success btn-sm" data-toggle="modal" data-target="#smallModal"
												 role="button"><i class="fa fa-check"></i>启用</a>
											</td>
										</tr>
										
									</tbody>
								</table>
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#">上一页</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">下一页</a>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 模态框 -->
	<div class="modal fade " id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true"
	 style="padding-right: 16px; display: none;" aria-hidden="true">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">确认启用</h4>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<p>确认要启用吗</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
					<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
				</div>
			</div>
			<!-- /.modal-content-->
		</div>
		<!-- /.modal-dialog-->
	</div>
</div>
