<div class="animated fadeIn">
	<h4>自定义导航栏管理 <small class="text-muted"> 前端首页导航栏管理 </small></h4>
	<div class="card">
		<div class="card-header">
			<i class="fa fa-align-justify"></i> 前台导航列表</div>
		<div class="card-body">
			<table class="table table-responsive-sm table-bordered text-center">
				<thead>
					<tr>
						<th>导航名称</th>
						<th>链接地址</th>
						<th>位置</th>
						<th>显示</th>
						<th>新窗口打开</th>
						<th>排序</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="7" class="text-left">
							<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="wutong/w-add-nav-manage.html"><i
								 class="fa fa-plus"> 新增导航</i></a>
						</td>
					</tr>
					<tr>
						<td>分销</td>
						<td>/index.php/Home/Article/detail/article_id/34</td>
						<td>bottom</td>
						<td >
							<label class="switch switch-label switch-pill switch-outline-primary mb-0">
								<input class="switch-input small" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-outline-primary mb-0">
								<input class="switch-input small" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td >
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 30px;" value="1221">
							</div>
						</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view"
							 role="button"><i class="fa fa-edit"></i>查看</a>
							<a href="wutong/w-add-nav-manage.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad"
							 data-target="#ui-view" role="button"><i class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal"
							 role="button"><i class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td>分销</td>
						<td>/index.php/Home/Article/detail/article_id/34</td>
						<td>bottom</td>
						<td >
							<label class="switch switch-label switch-pill switch-outline-primary mb-0">
								<input class="switch-input small" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-outline-primary mb-0">
								<input class="switch-input small" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td >
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 30px;" value="1221">
							</div>
						</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view"
							 role="button"><i class="fa fa-edit"></i>查看</a>
							<a href="wutong/w-add-nav-manage.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad"
							 data-target="#ui-view" role="button"><i class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal"
							 role="button"><i class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
					<tr>
						<td>分销</td>
						<td>/index.php/Home/Article/detail/article_id/34</td>
						<td>bottom</td>
						<td >
							<label class="switch switch-label switch-pill switch-outline-primary mb-0">
								<input class="switch-input small" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td>
							<label class="switch switch-label switch-pill switch-outline-primary mb-0">
								<input class="switch-input small" type="checkbox" checked="">
								<span class="switch-slider" data-checked="是" data-unchecked="否"></span>
							</label>
						</td>
						<td >
							<div class="row d-inline-block">
								<input class="form-control " type="text" style="width: 60px; height: 30px;" value="1221">
							</div>
						</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view"
							 role="button"><i class="fa fa-edit"></i>查看</a>
							<a href="wutong/w-add-nav-manage.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad"
							 data-target="#ui-view" role="button"><i class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal"
							 role="button"><i class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li class="page-item">
					<a class="page-link" href="#">上一页</a>
				</li>
				<li class="page-item active">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">下一页</a>
				</li>
			</ul>
			<!-- 模态框 -->
			<div class="modal fade " id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true"
			 style="padding-right: 16px; display: none;" aria-hidden="true">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">确认删除</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<p>确认要删除吗</p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
							<button class="btn btn-primary" type="button" data-dismiss="modal">确定</button>
						</div>
					</div>
					<!-- /.modal-content-->
				</div>
				<!-- /.modal-dialog-->
			</div>
		</div>
	</div>
</div>
