 <style type="text/css">
 	th{
		background-color: #F5F5F5;
	}
 </style>
<div class="animated fadeIn">
	<div>
		<span><strong>广告位列表</strong></span><span>&nbsp;&nbsp</span><span>广告位与管理</span>
	</div>

	<div style="background-color:#ECF8FC ;">
		<a style="text-decoration: none;" href="">
			<span>操作提示</span>
		</a>
		<ul>
			<li>广告位置在前台模板标签里面调用.</li>
			<li>当模板标签调用时程序会自动判断 pid 不存在则自动添加一个广告位</li>
		</ul>

	</div>
	<div>
		<div style="float: left;">
			<h5>广告位置列表 </h5>
		</div>
		<div style="float: left;margin:auto 1px">
			<h7>（共89条记录）</h7>
		</div>
		<div style="float: left;margin:auto 10px"><a href="#"><i class="fa fa-refresh"></i></a></div>
	</div>
	<div class="container-fluid"style="overflow: auto;">
		<table border="" cellspacing="" cellpadding="" style="text-align: center;">
			<tr style="">
				<th>
					<div style="width: 40px;height: 42px;padding: 8px 10px;"><i class="fa fa-check-circle-o"></i></div>
				</th>
				<th>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">广告id</div>
				</th>
				<th>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">广告名称</div>
				</th>
				<th>
					<div style="width: 76px;height: 42px;padding: 8px 1px;">广告位宽度</div>
				</th>
				<th>
					<div style="width: 76px;height: 42px;padding: 8px 1px;">广告位高度</div>
				</th>
				<th>
					<div style="width: 116px;height: 42px;padding: 8px 10px;">广告位描述</div>
				</th>
				<th>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">状态</div>
				</th>
				<th>
					<div style="width: 437px;height: 42px;padding: 8px 10px;">操作</div>
				</th>
			</tr>
		</table>
		<div>
			<button type="button" style="color: #007BFF;margin: 10px 0px;"><a href="base/gAdd.html" data-toggle="ajaxLoad"
				 data-target="#ui-view"><i class="fa fa-plus"></i>新增广告位</a></button>
		</div>
		<table border="1" style="text-align: center;">
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">
						535
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						Ad页面自动增加广告位
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						0
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						0
					</div>
				</td>
				<td>
					<div style="width: 116px;height: 42px;padding: 8px 10px;">
						AD页面
					</div>
				</td>
				<td>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle"></i>是
					</div>
				</td>
				<td>
					<div style="width: 437px;height: 42px;padding: 8px 10px;" id="last">
						<a href=""><i class="fa fa-search"></i>查看广告</a>
						<a href="base/gAdd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a>
						<a href="">代码调用</a>
					</div>
				</td>
				<!-- <td>
						<div style="width: 271px;height: 42px;">
							空表
						</div>
					</td> -->
			</tr>
		
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">
						535
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						Ad页面自动增加广告位
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						0
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						0
					</div>
				</td>
				<td>
					<div style="width: 116px;height: 42px;padding: 8px 10px;">
						AD页面
					</div>
				</td>
				<td>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle"></i>是
					</div>
				</td>
				<td>
					<div style="width: 437px;height: 42px;padding: 8px 10px;" id="last">
						<a href=""><i class="fa fa-search"></i>查看广告</a>
						<a href="base/gAdd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a>
						<a href="">代码调用</a>
					</div>
				</td>
				<!-- <td>
						<div style="width: 271px;height: 42px;">
							空表
						</div>
					</td> -->
			</tr>
		
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">
						535
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						Ad页面自动增加广告位
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						0
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						0
					</div>
				</td>
				<td>
					<div style="width: 116px;height: 42px;padding: 8px 10px;">
						AD页面
					</div>
				</td>
				<td>
					<div style="width: 66px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle"></i>是
					</div>
				</td>
				<td>
					<div style="width: 437px;height: 42px;padding: 8px 10px;" id="last">
						<a href=""><i class="fa fa-search"></i>查看广告</a>
						<a href="base/gAdd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a>
						<a href="">代码调用</a>
					</div>
				</td>
				<!-- <td>
						<div style="width: 271px;height: 42px;">
							空表
						</div>
					</td> -->
			</tr>
		</table>
	</div>
	<div style="margin: 30px 60%;">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true"style="width: 60px;">返回</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#"style="width: 70px;">下一页</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
