<div class="animated fadeIn">
	<div>
		<div style="pading:100px 10px;">
			<div style="float: left;margin:auto 10px"><a href="base/gAD.html" data-toggle="ajaxLoad" data-target="#ui-view"><i
					 class="fa fa-arrow-circle-left fa-2x"></i></a></div>
			<div style="float: left;">
				<h5>广告详情</h5>
			</div>
			<div style="float: left;margin:auto 1px">
				<h7>广告添加与管理</h7>
			</div>
			<div style="content:'';display: block;clear: both;"></div>
		</div>
	</div>
	<hr />
	<div>
		<form action=""style="font-size: 14px;">
			<div style="margin:20px 0px 20px 100px;"><label>广告位名称：</label><input style="border-radius: 5px;width: 300px;" name="name"
				 id="" value="" /></div>
			<div style="margin:20px 0px 20px 100px"><label>广告位宽度：</label><input style="border-radius: 5px;width: 300px;"
				 name="width" id="" value="" /><p style="display: inline-block;">&nbsp;px</p><span></span></div>
			<div style="margin:20px 0px 20px 100px"><label>广告位高度：</label><input style="border-radius: 5px;width: 300px;" 
				 name="height" id="" value="" /><p style="display: inline-block;">&nbsp;px</p></div>
			<div style="margin:20px 0px 20px 100px"><label>广告位描述：</label><input style="border-radius: 5px;width: 300px;" 
				 name="view" id="" value="" /></div>
			<div style="margin:20px 0px 20px 100px"><label>是否启用：</label>
				<input type="radio" name="OF" id="" value="开启" checked="" />开启
				<input type="radio" name="OF" id="" value="关闭" />关闭
			</div>
			<input style="margin:20px 0px 20px 200px" type="submit" value="确认提交" class="btn btn-primary" />
		</form>
	</div>
</div>
<script src="js/gJs/gAdd.js" type="text/javascript" charset="utf-8"></script>
