<style type="text/css">
	th {
		background-color: #F5F5F5;
	}
</style>
<div class="animated fadeIn">
	<div>
		<span><strong>新闻分类</strong></span><span>&nbsp;&nbsp</span><span>网站新闻分类添加与管理</span>
	</div>

	<div style="background-color:#ECF8FC ;">
		<a style="text-decoration: none;" href="">
			<span>操作提示</span>
		</a>
		<ul>
			<li>新增新闻时，可选择新闻分类。新闻分类将在前台新闻列表页显示</li>
		</ul>

	</div>
	<div>
		<div style="float: left;">
			<h5>文章列表 </h5>
		</div>
		<div style="float: left;margin:auto 1px">
			<h7>（共0条记录）</h7>
		</div>
		<div style="float: left;margin:auto 10px"><a href="#"><i class="fa fa-refresh"></i></a></div>
	</div>
	<div class="container-fluid"style="overflow: auto;">
		<table border="" cellspacing="" cellpadding="" style="text-align: center;">
			<tr>
				<th>
					<div style="width: 40px;height: 42px;padding: 8px 10px;"><i class="fa fa-check-circle-o"></i></div>
				</th>
				<th>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">操作</div>
				</th>
				<th>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">排序</div>
				</th>
				<th>
					<div style="width: 216px;height: 42px;padding: 8px 1px;">分类名称</div>
				</th>
				<th>
					<div style="width: 427px;height: 42px;padding: 8px 10px;">分类描述</div>
				</th>
			</tr>


		</table>
		<div>
			<button type="button" style="color: #007BFF;margin: 10px 0px;"><a href="base/gNewfladd.html" data-toggle="ajaxLoad"
				 data-target="#ui-view"><i class="fa fa-plus"></i>新增分类</a></button>
			<button type="button" style="color: #007BFF;margin: 10px 0px;"><a href="" data-toggle="ajaxLoad" data-target="#ui-view"><i
					 class="fa fa-angle-double-up"></i>收缩分类</a></button>
		</div>
		<table border="1" style="text-align: center;">
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="false"><i class="fa fa-gear"></i>设置<tton>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
										<a class="dropdown-item" href="#">编辑分类信息</a>
										<a class="dropdown-item" href="#">新增下级分类</a>
										<a class="dropdown-item" href="#">删除当前分类</a>
									</div>
						</div>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<input />
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						售后信息
					</div>
				</td>
				<td>
					<div style="width:427px;height: 42px;padding: 8px 10px;" id="last">
						<!-- <a href=""><i class="fa fa-search"></i>查看</a>
						<a href=""><i class="fa fa-trash"></i>删除</a>
						<a href="base/gWZfladd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a> -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="false"><i class="fa fa-gear"></i>设置<tton>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
										<a class="dropdown-item" href="#">编辑分类信息</a>
										<a class="dropdown-item" href="#">新增下级分类</a>
										<a class="dropdown-item" href="#">删除当前分类</a>
									</div>
						</div>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<input />
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						售后信息
					</div>
				</td>
				<td>
					<div style="width:427px;height: 42px;padding: 8px 10px;" id="last">
						<!-- <a href=""><i class="fa fa-search"></i>查看</a>
						<a href=""><i class="fa fa-trash"></i>删除</a>
						<a href="base/gWZfladd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a> -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="false"><i class="fa fa-gear"></i>设置<tton>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
										<a class="dropdown-item" href="#">编辑分类信息</a>
										<a class="dropdown-item" href="#">新增下级分类</a>
										<a class="dropdown-item" href="#">删除当前分类</a>
									</div>
						</div>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<input />
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						售后信息
					</div>
				</td>
				<td>
					<div style="width:427px;height: 42px;padding: 8px 10px;" id="last">
						<!-- <a href=""><i class="fa fa-search"></i>查看</a>
						<a href=""><i class="fa fa-trash"></i>删除</a>
						<a href="base/gWZfladd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a> -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="false"><i class="fa fa-gear"></i>设置<tton>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
										<a class="dropdown-item" href="#">编辑分类信息</a>
										<a class="dropdown-item" href="#">新增下级分类</a>
										<a class="dropdown-item" href="#">删除当前分类</a>
									</div>
						</div>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<input />
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						售后信息
					</div>
				</td>
				<td>
					<div style="width:427px;height: 42px;padding: 8px 10px;" id="last">
						<!-- <a href=""><i class="fa fa-search"></i>查看</a>
						<a href=""><i class="fa fa-trash"></i>删除</a>
						<a href="base/gWZfladd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a> -->
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="false"><i class="fa fa-gear"></i>设置<tton>
									<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
										<a class="dropdown-item" href="#">编辑分类信息</a>
										<a class="dropdown-item" href="#">新增下级分类</a>
										<a class="dropdown-item" href="#">删除当前分类</a>
									</div>
						</div>
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						<input />
					</div>
				</td>
				<td>
					<div style="width: 216px;height: 42px;padding: 8px 10px;">
						售后信息
					</div>
				</td>
				<td>
					<div style="width:427px;height: 42px;padding: 8px 10px;" id="last">
						<!-- <a href=""><i class="fa fa-search"></i>查看</a>
						<a href=""><i class="fa fa-trash"></i>删除</a>
						<a href="base/gWZfladd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a> -->
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div style="margin: 30px 60%;">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true" style="width: 60px;">返回</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" style="width: 70px;">下一页</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
