<style type="text/css">
	input[type=text],
	select {
		position: absolute;
		left: 150px;
	}

	.head~div {
		margin: 25px 0px;
	}
</style>
<div class="animated fadeIn" style="position: relative;">
	<div class="head">
		<div style="pading:100px 10px;">
			<div style="float: left;margin:auto 10px"><a href="base/gZTlb.html" data-toggle="ajaxLoad" data-target="#ui-view"><i
					 class="fa fa-arrow-circle-o-left fa-2x"></i></a></div>
			<div style="float: left;">
				<h5>专题管理 - 编辑专题</h5>
			</div>
			<div style="float: left;margin:auto 15px">
				<h7>网站系统专题索引与管理</h7>
			</div>
			<div style="content:'';display: block;clear: both;"></div>
		</div>
	</div>
	<hr />
	<form>
		<div>
			<label>专题标题</label><input type="text" />
		</div>
		<hr />

		<div>
			<label>专题封面</label>
			<input type="text" />
			<br />
			<span>请上传990像素x240像素的图片作为专题页面的封面图</span>
		</div>
		<hr />

		<div>
			<label>内容距离顶部</label><input type="text" placeholder="填入像素px" /><br />
			<div class="offset-2">像素</div>
		</div>
		<hr />


		<div>
			<label>专题内容</label>
			<div>
				<textarea rows="30" cols="100">

		</textarea>
			</div>
		</div>
		<input style="margin:20px 0px 20px 200px" type="submit" value="确认提交" class="btn btn-primary" />
	</form>
</div>

<script src="../js/gWZ.js"></script>
