 <style type="text/css">
 	th{
		background-color: #F5F5F5;
	}
 </style>
<div class="animated fadeIn">
	<div>
		<span><strong>专题管理</strong></span><span>&nbsp;&nbsp</span><span>网站系统专题索引与管理</span>
	</div>

	<div style="background-color:#ECF8FC ;">
		<a style="text-decoration: none;" href="">
			<span>操作提示</span>
		</a>
		<ul>
			<li>专题管理, 由平台设置管理.</li>
		</ul>

	</div>
	<div>
		<div style="float: left;">
			<h5>专题列表 </h5>
		</div>
		<div style="float: left;margin:auto 1px">
			<h7>（共2条记录）</h7>
		</div>
		<div style="float: left;margin:auto 10px"><a href="#"><i class="fa fa-refresh"></i></a></div>
	</div>
	<div class="container-fluid">
		<table border="" cellspacing="" cellpadding="" style="text-align: center;">
			<tr>
				<th>
					<div style="width: 40px;height: 42px;padding: 8px 10px;"><i class="fa fa-check-circle-o"></i></div>
				</th>
				<th>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">专题标题</div>
				</th>
				<th>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">专题状态</div>
				</th>
				<th>
					<div style="width: 96px;height: 42px;padding: 8px 1px;">创建时间</div>
				</th>
				<th>
					<div style="width: 427px;height: 42px;padding: 8px 10px;">专题封面</div>
				</th>
				<th>
					<div style="width: 387px;height: 42px;padding: 8px 10px;">操作</div>
				</th>
			</tr>


		</table>
		<div>
			<button type="button" style="color: #007BFF;margin: 10px 0px;"><a href="base/gZTadd.html" data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-plus"></i>新增专题</a></button>
		</div>
		<table border="1"style="text-align: center;">
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						专题标题
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						已发布
					</div>
				</td>
				<td>
					<div style="width: 96px;height: 42px;padding: 8px 10px;">
						2018-04-16
					</div>
				</td>
				<td>
					<div style="width: 427px;height: 42px;padding: 8px 10px;">
						/public/upload/topic/2018/04-16/

					</div>
				</td>
				<td>
					<div style="width: 387px;height: 42px;padding: 8px 10px;"id="last">
						<a href=""><i class="fa fa-search"></i>查看广告</a>
						<a href="base/gAdd.html"data-toggle="ajaxLoad"data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a>
					<a href=""><i class="fa fa-trash"></i>删除</a>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div style="width: 40px;height: 42px;padding: 8px 10px;">
						<i class="fa fa-check-circle-o"></i>
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						专题标题
					</div>
				</td>
				<td>
					<div style="width: 76px;height: 42px;padding: 8px 10px;">
						已发布
					</div>
				</td>
				<td>
					<div style="width: 96px;height: 42px;padding: 8px 10px;">
						2018-04-16
					</div>
				</td>
				<td>
					<div style="width: 427px;height: 42px;padding: 8px 10px;">
						/public/upload/topic/2018/04-16/

					</div>
				</td>
				<td>
					<div style="width: 387px;height: 42px;padding: 8px 10px;"id="last">
						<a href=""><i class="fa fa-search"></i>查看广告</a>
						<a href="base/gAdd.html"data-toggle="ajaxLoad"data-target="#ui-view"><i class="fa fa-pencil-square-o"></i>编辑</a>
					<a href=""><i class="fa fa-trash"></i>删除</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
		<div style="margin: 30px 60%;">
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true"style="width: 60px;">返回</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#"style="width: 70px;">下一页</a>
				</li>
			</ul>
		</nav>
	</div>
</div>